{% extends 'base.html' %} 
{% load static %}
{% load tags %}
{% load container_tags %}

{% block title %}Рефконтейнеры и дизельные генераторы - купить, арендовать новый и б/у | Техно Транс{% endblock %} 
{% block meta_title %}Рефконтейнеры и дизельные генераторы - купить, арендовать новый и б/у | Техно Транс{% endblock %} 
{% block description %}Рефконтейнеры брендов {{ brands_list }} на 20 и 30 футов в наличии и под заказ. Продажа новых и б/у контейнеров. Дизель-генераторы на 3, 5 и 100 квт под любые цели. Оставьте заявку на сайте!{% endblock %} 
{% block meta_description %}Рефконтейнеры брендов {{ brands_list }} на 20 и 30 футов в наличии и под заказ. Продажа новых и б/у контейнеров. Дизель-генераторы на 3, 5 и 100 квт под любые цели. Оставьте заявку на сайте!{% endblock %} 


{% block head %}
<!-- Анимации -->
<!-- Odometer.js -->
<link rel="stylesheet" href="{% static 'css/odometer-default-theme.css' %}" />
<script defer src="{% static 'js/odometer/odometer.js' %}"></script>
<!-- Inview.js -->
<script defer src="{% static 'js/inview/inview.js' %}"></script>
<!-- Aos.js -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<!-- Яндекс Вебмастер -->
<meta name="yandex-verification" content="0238748e1c0cd9ae" />
{% endblock %}

{% block content %}
<div class="main container">
    <div data-aos="fade-right" class="main__left">
        <div class="main__heading">
            <h1>Логистика, продажа <br> и аренда контейнеров</h1>
            <div class="flags">
                <img src="{% static 'images/russia-flag.png' %}" alt="Флаг России">
                <img src="{% static 'images/china-flag.png' %}" alt="Флаг Китая">
                <img src="{% static 'images/japan-flag.png' %}" alt="Флаг Японии">
                <img src="{% static 'images/vietnam-flag.png' %}" alt="Флан Вьетнама">
                <img src="{% static 'images/indonesia-flag.png' %}" alt="Флаг Японии">
                <img src="{% static 'images/uae-flag.png' %}" alt="Флаг Японии">
                <img src="{% static 'images/singapore-flag.png' %}" alt="Флаг Японии">
            </div>
        </div>
        <div class="main__points">
            <div class="main__checkbox">
                <div class=main__checkbox-wrap>
                    <input checked type=checkbox id=consent name=consent required>
                </div>
                <div>
                    <label for=consent class=main__checkbox-label>
                        Продажа: большой выбор новых и б/у
                    </label>
                </div>
            </div>
            <div class="main__checkbox">
                <div class=main__checkbox-wrap>
                    <input checked type=checkbox id=consent name=consent required>
                </div>
                <div>
                    <label for=consent class=main__checkbox-label>
                        Аренда: выгодные условия на любой срок
                    </label>
                </div>
            </div>
            <div class="main__checkbox">
                <div class=main__checkbox-wrap>
                    <input checked type=checkbox id=consent name=consent required>
                </div>
                <div>
                    <label for=consent class=main__checkbox-label>
                        Запчасти: склад Carrier, ThermoKing, Daikin, StarCool и аналогов
                    </label>
                </div>
            </div>
            <div class="main__checkbox">
                <div class=main__checkbox-wrap>
                    <input checked type=checkbox id=consent name=consent required>
                </div>
                <div>
                    <label for=consent class=main__checkbox-label>
                        Сервис и ремонт
                    </label>
                </div>
            </div>
        </div>

        <div class="main__buttons">
            <button class="main__button-red background-red-hover openModal">
                Связаться с нами
            </button>
            <a href="{{ company_info.whatsapp_link }}" target="_blank" class="main__button-transparent">
                <img src="static/images/whatsapp.svg" alt="Логтип WhatsApp">
                Написать в WhatsApp
            </a>
        </div>
    </div>
    <div class="main__right">
        <img class="main-image mainImage1" src="static/images/main-1.png" alt="Контейнер">
        <img class="main-image mainImage2" src="{% static 'images/main-2.png' %}" alt="Контейнер">
        <img class="main-image mainImage3" src="{% static 'images/main-3.png' %}" alt="Фото">
        <img class="main-image mainImage4" src="static/images/main-4.png" alt="Контейнер">
        <img class="main-image mainImage5" src="{% static 'images/main-5.png' %}" alt="Контейнер">
        <img class="main-image mainImage6" src="{% static 'images/main-6.png' %}" alt="Фото">
        <img class="main-image mainImage7" src="{% static 'images/main-7.png' %}" alt="Фото">

        <!-- <img class="main-image--centered" src="static/images/main-1.png" alt="Контейнер"> -->
        <div class="main__prices">
            <div data-aos="fade-left" data-aos-duration="1000" id="mainDivision1" data-column-index="1" class="main__price main-division active">
                <div class="main__price-label">Аренда рефконтейнеров</div>
                <div class="main__price-value">
                    <span class="main__price-big">от 800₽</span> /сутки
                </div>
                <a href="{% url 'containers:rent' %}" class="transparent-button">
                    <button>Выбрать модель</button>
                </a>
            </div>
            <div data-aos="fade-left" data-aos-duration="1000" id="mainDivision2" data-column-index="2" class="main__price main-division">
                <div class="main__price-label">Продажа рефконтейнеров</div>
                <div class="main__price-value">
                    <span class="main__price-big little-smaller">от 500 тыс ₽</span>
                </div>
                <div class="transparent-button">
                    <a href="{% url 'containers:catalog' %}">Каталог</a>
                </div>
            </div>
            <div data-aos="fade-left" data-aos-duration="1000" id="mainDivision3" data-column-index="3" class="main__price main-division">
                <div class="main__price-label">Услуги импорта и экспорта</div>
                <div class="main__price-value">
                    <span class="main__price-big">По запросу</span>
                </div>
                <div class="transparent-button openModal">
                    <button>Консультация</button>
                </div>
            </div>
            <div data-aos="fade-left" data-aos-duration="1000" id="mainDivision3" data-column-index="4" class="main__price main-division">
                <div class="main__price-label">Услуги импорта и экспорта</div>
                <div class="main__price-value">
                    <span class="main__price-big">По запросу</span>
                </div>
                <div class="transparent-button openModal">
                    <button>Консультация</button>
                </div>
            </div>
            <div data-aos="fade-left" data-aos-duration="1000" id="mainDivision3" data-column-index="5" class="main__price main-division">
                <div class="main__price-label">Услуги импорта и экспорта</div>
                <div class="main__price-value">
                    <span class="main__price-big">По запросу</span>
                </div>
                <div class="transparent-button openModal">
                    <button>Консультация</button>
                </div>
            </div>
            <div data-aos="fade-left" data-aos-duration="1000" id="mainDivision3" data-column-index="6" class="main__price main-division">
                <div class="main__price-label">Услуги импорта и экспорта</div>
                <div class="main__price-value">
                    <span class="main__price-big">По запросу</span>
                </div>
                <div class="transparent-button openModal">
                    <button>Консультация</button>
                </div>
            </div>
            <div data-aos="fade-left" data-aos-duration="1000" id="mainDivision3" data-column-index="7" class="main__price main-division">
                <div class="main__price-label">Услуги импорта и экспорта</div>
                <div class="main__price-value">
                    <span class="main__price-big">По запросу</span>
                </div>
                <div class="transparent-button openModal">
                    <button>Консультация</button>
                </div>
            </div>
        </div>
        <div class="custom-slick-arrows">
            <div class="custom-slick-prev">
                <img src="{% static 'images/custom-arrow-left.svg' %}" alt="">
            </div>
            <div class="custom-slick-next">
                <img src="{% static 'images/custom-arrow-right.svg' %}" alt="">
            </div>
        </div>
    </div>
</div>

<div class="home__stats">
    <div class="container">
        <div class="home__stats-inner">
            <div class="home__stat">
                <div style="display: flex;">
                    <p class="home__stat-heading"><span class="odometer years-count">0</span> лет</p>
                </div>
                <hr>
                <p class="home__stat-label">успешного опыта в сфере логистики и рефконтейнеров</p>
            </div>
            <div class="home__stat">
                <p class="home__stat-heading"><span class="odometer containers-count">0</span>+</p>
                <hr>
                <p class="home__stat-label">обслуженных рефконтейнеров по всей России</p>
            </div>
            <div class="home__stat">
                <p class="home__stat-heading"><span class="odometer cities-count">0</span>+</p>
                <hr>
                <p class="home__stat-label">городов, в которых мы работаем</p>
            </div>
            <div class="home__stat">
                <p class="home__stat-heading"><span class="odometer support-format-hours">0</span>/<span class="odometer support-format-days">0</span> </p>
                <hr>
                <p class="home__stat-label">поддержка клиентов без выходных</p>
            </div>
            <div class="home__stat">
                <p class="home__stat-heading"><span class="odometer deliveries-count">0</span>+</p>
                <hr>
                <p class="home__stat-label">доставок контейнеров организовано нашей командой</p>
            </div>
        </div>
    </div>
</div>

<div data-aos="fade-right" data-aos-duration="1400" class="home__containers container">
    <p class="block-heading">Рефконтейнеры</p>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        {% for category in categories %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if forloop.first %}active{% endif %} " id="{{ category.name }}-tab" data-bs-toggle="tab" data-bs-target="#tab-{{ category.name }}" type="button" role="tab" aria-controls="tab-{{ category.name }}" aria-selected="false">
                    {{ category.name }}
                </button>
            </li>
        {% endfor %}
    </ul>
      
      <!-- Контент вкладок -->
      <div class="tab-content" id="myTabContent">
        {% for category in categories %}
         <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="tab-{{ category.name }}" role="tabpanel" aria-labelledby="{{ category.name }}-tab">
                <div class="tab__description">
                    <div class="tab__text">
                        {{ category.description|linebreaks }}
                    </div>
                </div>
                <div class="home__containers-cards">
                    {% for container in category.category_containers.all %}
                        <div class="home__container-card">
                            <a href="{{ container.get_absolute_url }}">
                                <img src="{{ container.images.all.0.image.url }}" alt="Фото контейнера">
                            </a>
                            <div class="home__container-card-text">
                                <div class="home__container-card-name">
                                    <a href="{{ container.get_absolute_url }}" class="home__container-card-name--big red-hover">{{ container.name }}</a>
                                    <p class="home__container-card-name--small">{{ container.container_type.name|foot_to_symbol }} <span class="container__name-divider">|</span> {{ container.year }}г. <span class="container__name-divider">|</span> {{ container.model }}</p>
                                </div>
                                <div class="home__container-lower">
                                    <div class="home__container-lower-left">
                                        <p class="home__container-card-price">{{ container.price|price_format }} ₽ </p>
                                        {% if container.is_in_stock %}
                                            <div class="home__container-card-in-stock">
                                                <img src="{% static 'images/green-mark.svg' %}" alt="Галочка">
                                                В наличии
                                            </div>
                                        {% else %}
                                            <div class="home__container-card-in-stock">
                                                <img src="{% static 'images/gray-circle.svg' %}" alt="Крест">
                                                Под заказ
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="home__container-button-container">
                                        <a href="{{ container.get_absolute_url }}" class="home__container-button">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a href="
                {% if category.name == 'Аренда' %}
                    {% url 'containers:rent' %}
                {% else %} 
                    {% url 'containers:catalog' %}?category={{ category.pk }}
                {% endif %}
                " class="home__containers-watch-all">
                    Смотреть все
                </a>
            </div>
        {% endfor %}
      </div>
</div>

<div class="home__parts container">
    <div data-aos="fade-right" class="block-heading">
        Запчасти
    </div>
    <div class="home__parts-row">
        <div data-aos="fade-right" class="home__parts-left">
            <div class="home__parts-description">
                Мы предлагаем широкий выбор запчастей для рефрижераторов мировых брендов: Carrier, Thermo King, Daikin, Star Cool. Все запчасти поставляются с гарантией и возможностью доставки.
            </div>
            <div class="home__parts-points">
                <div class="main__checkbox">
                    <div class=main__checkbox-wrap>
                        <input checked type=checkbox id=consent name=consent required>
                    </div>
                    <div>
                        <label for=consent class=main__checkbox-label>
                            Всегда в наличии востребованные оригинальные запчасти
                        </label>
                    </div>
                </div>
                <div class="main__checkbox">
                    <div class=main__checkbox-wrap>
                        <input checked type=checkbox id=consent name=consent required>
                    </div>
                    <div>
                        <label for=consent class=main__checkbox-label>
                            Быстрая доставка от 2-3 дней.
                        </label>
                    </div>
                </div>
                <div class="main__checkbox">
                    <div class=main__checkbox-wrap>
                        <input checked type=checkbox id=consent name=consent required>
                    </div>
                    <div>
                        <label for=consent class=main__checkbox-label>
                            Обеспечение всеми необходимыми запчастями и расходными материалами.
                        </label>
                    </div>
                </div>
                <div class="main__checkbox">
                    <div class=main__checkbox-wrap>
                        <input checked type=checkbox id=consent name=consent required>
                    </div>
                    <div>
                        <label for=consent class=main__checkbox-label>
                            Гарантия 30 дней на все запчасти при обнаружении заводского брака.
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="home__parts-right">
            <div data-aos="fade-left" data-aos-duration="300" class="home__parts-brand-card">
                <img src="static/images/part-brand-1.png" alt="Carrier">
                <a class="home__parts-brand-card-button" href="{% if urls_filtered_by_brand.Carrier %}{{ urls_filtered_by_brand.Carrier }}{% else %}{% url 'containers:rent' %}{% endif %}">Смотреть все</a>
            </div>
            <div data-aos="fade-left" data-aos-duration="400" class="home__parts-brand-card">
                <img src="static/images/part-brand-2.png" alt="Thermo King">
                <a class="home__parts-brand-card-button" href="{% if urls_filtered_by_brand.ThermoKing %}{{ urls_filtered_by_brand.ThermoKing }}{% else %}{% url 'containers:rent' %}{% endif %}">Смотреть все</a>
            </div>
            <div data-aos="fade-left" data-aos-duration="500" class="home__parts-brand-card">
                <img src="static/images/part-brand-3.png" alt="Star Cool">
                <a class="home__parts-brand-card-button" href="{% if urls_filtered_by_brand.StarCool %}{{ urls_filtered_by_brand.StarCool }}{% else %}{% url 'containers:rent' %}{% endif %}">Смотреть все</a>
            </div>
            <div data-aos="fade-left" data-aos-duration="600" class="home__parts-brand-card">
                <img src="static/images/part-brand-4.png" alt="Логотип бренда">
                <a class="home__parts-brand-card-button" href="{% if urls_filtered_by_brand.Daikin %}{{ urls_filtered_by_brand.Daikin }}{% else %}{% url 'containers:rent' %}{% endif %}">Смотреть все</a>
            </div>
            <div data-aos="fade-left" data-aos-duration="700" class="home__parts-brand-card only-desktop">
                <p class="home__parts-brand-card-heading">Расходники</p>
                <a class="home__parts-brand-card-button" href="{% url 'containers:catalog' %}">Смотреть все</a>
            </div>
            <div data-aos="fade-left data-aos-duration="800" class="home__parts-brand-card only-desktop">
                <p class="home__parts-brand-card-heading">Расходники</p>
                <p class="home__parts-brand-card-button-red background-red-hover openModal">Запросить весь каталог</p>
            </div>
        </div>
        <a href="{% url 'containers:catalog' %}" class="home__parts-brand-card-button--mobile-container only-mobile--flex">
            <p class="home__parts-brand-card-button--mobile">Расходники</p>
        </a>
        <a class="home__parts-brand-card-button--mobile-container-red only-mobile--flex background-red-hover openModal">
            <p class="home__parts-brand-card-button--mobile">Запросить весь каталог</p>
        </a>
    </div>
</div>

<div class="home__service container">
    <div data-aos="fade-right" class="block-heading">
        Обслуживание и ремонт рефконтейнеров
    </div>
    <div class="home__service-body">
        <div data-aos="fade-right" class="home__service-left">
            <img class="home__service-image" src="static/images/home-service-image.png" alt="Фото">
            <p class="home__service-text">Столкнулись с поломкой рефрижераторного контейнера? <br>
                Мы предлагаем быстрые и качественные услуги по диагностике и ремонту, минимизируя ваши затраты и риски порчи груза.</p>
            <div class="home__service-points">
                <div class="home__service-point">
                    <div class="home__service-point-icon">
                        <img src="static/images/home-service-search.svg" alt="Иконка 1">
                    </div>
                    <div class="home__service-point-text">
                        <p class="home__service-point-heading">Диагностика (Pre Trip Inspection)</p>
                        <p class="home__service-point-sub">Проверка рефрижератора для выявления неисправностей и подготовки к эксплуатации</p>
                    </div>
                </div>
                <div class="home__service-point">
                    <div class="home__service-point-icon">
                        <img src="static/images/home-service-settings.svg" alt="Иконка 2">
                    </div>
                    <div class="home__service-point-text">
                        <p class="home__service-point-heading">Ремонт и замена узлов и агрегатов рефрижераторов</p>
                        <p class="home__service-point-sub">Замена и ремонт компонентов рефрижераторов Carrier, Thermo King, Daikin.</p>
                    </div>
                </div>
                <div class="home__service-point">
                    <div class="home__service-point-icon">
                        <img src="static/images/home-service-lightning.svg" alt="Иконка 3">
                    </div>
                    <div class="home__service-point-text">
                        <p class="home__service-point-heading">Ремонт компрессоров, микроконтроллеров, дисплеев и других компонентов</p>
                        <p class="home__service-point-sub">Восстановление компрессоров, микроконтроллеров и дисплеев.</p>
                    </div>
                </div>
                <div class="home__service-point">
                    <div class="home__service-point-icon">
                        <img src="static/images/home-service-speedometer.svg" alt="Иконка 4">
                    </div>
                    <div class="home__service-point-text">
                        <p class="home__service-point-heading">Заправка системы фреоном</p>
                        <p class="home__service-point-sub">Дозаправка системы для восстановления её эффективности.</p>
                    </div>
                </div>
            </div>
        </div>
        <div data-aos="fade-left" class="home__service-right">
            <form id="serviceBlockForm" class="home__service-form" action="">
                {% csrf_token %}
                <p class="home__service-form-heading">Расчитать стоимость обслуживания</p>
                <div class="home__service-form-inputs">
                    <select name="{{ calculate_form.container_type.name }}" id="{{ calculate_form.container_type.id_for_label }}" required>
                        <option value="" disabled selected hidden>Тип контейнера</option>
                        {% for category in calculate_form.container_type.field.queryset %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                    <select name="{{ calculate_form.service_type.name }}" id="{{ calculate_form.service_type.id_for_label }}" required>
                        <option value="" disabled selected hidden>Вид обслуживания</option>
                        {% for service_type in calculate_form.service_type.field.queryset %}
                            <option value="{{ service_type.id }}">{{ service_type.name }}</option>
                        {% endfor %}
                    </select>
                    
                    {{ calculate_form.city }}
                    {{ calculate_form.phone }}
                    {{ calculate_form.message }}
                    <div class="form__checkbox">
                        <div class=form__checkbox-wrap>
                            <input checked type=checkbox id=service-form-input name=consent required>
                        </div>
                        <div>
                            <label for=service-form-input class=form__checkbox-label>
                                Согласен с обработкой персональных данных
                            </label>
                        </div>
                    </div>
                    <button class="red-button">Отправить</button>
                </div>  
            </form>
        </div>
    </div>
</div>

<div class="home__partners container">
    <div class="block-heading">Нам доверяют</div>
        <div class="marquee-wrapper">
            <div class="element">
                <div class="bar">
                    <div class="items">
                        {% for partner in partners %}
                        <div class="item">
                            <img src="{{ partner.logo.url }}" alt="Логотип компании">
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="bar">
                    <div class="items">
                        {% for partner in partners %}
                        <div class="item">
                            <img src="{{ partner.logo.url }}" alt="Логотип компании">
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="bar">
                    <div class="items">
                        {% for partner in partners %}
                        <div class="item">
                            <img src="{{ partner.logo.url }}" alt="Логотип компании">
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="bar">
                    <div class="items">
                        {% for partner in partners %}
                        <div class="item">
                            <img src="{{ partner.logo.url }}" alt="Логотип компании">
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="bar">
                    <div class="items">
                        {% for partner in partners %}
                        <div class="item">
                            <img src="{{ partner.logo.url }}" alt="Логотип компании">
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="bar">
                    <div class="items">
                        {% for partner in partners %}
                        <div class="item">
                            <img src="{{ partner.logo.url }}" alt="Логотип компании">
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="bar">
                    <div class="items">
                        {% for partner in partners %}
                        <div class="item">
                            <img src="{{ partner.logo.url }}" alt="Логотип компании">
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
</div>



{% include 'home/includes/questions_block.html' %}
{% include 'home/includes/contacts_block.html' %}

{% endblock %}


{% block script %}
<script defer>
    // Слайдеры
$(document).ready((function() {
    $(".home__containers-cards").slick({
        arrows: true,
        dots: false,
        infinite: true,
        speed: 500,
        slidesToShow: 4,
        adaptiveHeight: false,
        autoplay: false,
        responsive: [{
            breakpoint: 1024,
            settings: {
                centerMode: true,
                slidesToShow: 3,
                slidesToScroll: 1
            }
        }, {
            breakpoint: 820,
            settings: {
                centerMode: !0,
                slidesToShow: 2,
                slidesToScroll: 1
            }
        }, {
            breakpoint: 576,
            settings: {
                centerMode: !0,
                slidesToShow: 1,
                slidesToScroll: 1
            }
        }] 
    })
}))


$(document).ready((function() {
    $(".main__prices").slick({
        arrows: true,
        dots: false,
        infinite: true,
        speed: 500,
        slidesToShow: 3,
        adaptiveHeight: false,
        prevArrow: $('.custom-slick-prev'),
        nextArrow: $('.custom-slick-next'),
        autoplay: true, 
        autoplaySpeed: 4500,
        draggable: false,
        responsive: [{
            breakpoint: 1024,
            settings: {
                centerMode: true,
                slidesToShow: 3,
                slidesToScroll: 1
            }
        }, {
            breakpoint: 820,
            settings: {
                centerMode: false,
                slidesToShow: 3,
                slidesToScroll: 1
            }
        }, {
            breakpoint: 576,
            settings: {
                centerMode: false,
                draggable: false,
                slidesToShow: 3,
                slidesToScroll: 1
            }
        }] 
    })
}))

$('.main__prices').on('beforeChange', function(event, slick, currentSlide, nextSlide) {
    if (nextSlide > currentSlide || (currentSlide === slick.slideCount - 1 && nextSlide === 0)) {
        lastDirection = 'forward';
        console.log('👉 Листаем вперёд');
    } else {
        lastDirection = 'backward';
        console.log('👈 Листаем назад');
    }
});

$('.main__prices').on('afterChange', function(event, slick, currentSlide) {
    if (lastDirection === 'forward') {
        console.log('✅ Перешли вперёд на слайд:', currentSlide);
        makeNextSlideActive()
    } else if (lastDirection === 'backward') {
        console.log('✅ Перешли назад на слайд:', currentSlide);
        makePrevSlideActive();
    }
});

function makeNextSlideActive() {
    const currentActive = document.querySelector('.main__price.active')
    currentActive.classList.remove('active'); 
    document.querySelectorAll('.main__price').forEach((element) => {
        element.classList.remove('active');
    });
    let nextIndex = Number(currentActive.dataset.columnIndex) + 1; 
    if (nextIndex == 8) {
        nextIndex = 1;
    }
    document.querySelectorAll(`.main__price[data-column-index="${nextIndex}"]`).forEach((element) => {
       element.classList.add('active')
       console.log(element)
    });
    makeActive(nextIndex);
}

function makePrevSlideActive() {
    const currentActive = document.querySelector('.main__price.active')
    currentActive.classList.remove('active'); 
    document.querySelectorAll('.main__price').forEach((element) => {
        element.classList.remove('active');
    });
    let nextIndex = Number(currentActive.dataset.columnIndex) - 1; 
    if (nextIndex == 0) {
        nextIndex = 7;
    }
    document.querySelectorAll(`.main__price[data-column-index="${nextIndex}"]`).forEach((element) => {
       element.classList.add('active')
       console.log(element)
    });
    makeActive(nextIndex);
}

function makeActive(columnIndex) {
    document.querySelector('.mainImage1').style.opacity = '0';
        document.querySelector('.mainImage2').style.opacity = '0';
        document.querySelector('.mainImage3').style.opacity = '0';
        document.querySelector('.mainImage4').style.opacity = '0';
        document.querySelector('.mainImage5').style.opacity = '0';
        document.querySelector('.mainImage6').style.opacity = '0';
        document.querySelector('.mainImage7').style.opacity = '0';
 
        if (columnIndex == '1') {
            document.querySelector('.mainImage1').style.opacity = '1'; 
        } else if (columnIndex == '2') {
            document.querySelector('.mainImage2').style.opacity = '1'; 
        } else if (columnIndex == '3') {
            document.querySelector('.mainImage3').style.opacity = '1'; 
        } else if (columnIndex == '4') {
            document.querySelector('.mainImage4').style.opacity = '1'; 
        } else if (columnIndex == '5') {
            document.querySelector('.mainImage5').style.opacity = '1'; 
        } else if (columnIndex == '6') {
            document.querySelector('.mainImage6').style.opacity = '1'; 
        } else if (columnIndex == '7') {
            document.querySelector('.mainImage7').style.opacity = '1'; 
        }
}

function isMobile() {
    if (window.innerWidth < 568) {
        return true;
    }
    return false;
}


// Главная 

if (!isMobile()) {
    document.querySelectorAll('.main__price').forEach((division) => {
        division.addEventListener('mouseenter', () => {
            makeActive(division.dataset.columnIndex);
        });
    });
    document.querySelectorAll('.main__price').forEach((division) => {
        division.addEventListener('mouseenter', () => {
            document.querySelectorAll('.main__price').forEach((div) => {
                div.classList.remove('active');
            });
    
            division.classList.add('active');
        });
    });
    if (division.classList.contains('.slick-active')) {
            division.classList.add('active');
    }
}

// Форма ОС в блоке "Обслуживание контейнеров"
const feedbackForm = document.getElementById("serviceBlockForm");
console.log(feedbackForm);

feedbackForm.addEventListener("submit", async (event) => {
    event.preventDefault();
    const successSection = document.getElementById('modalSuccess');
    const containerType = document.getElementById("{{ calculate_form.container_type.id_for_label }}");
    const serviceType = document.getElementById("{{ calculate_form.service_type.id_for_label }}");

    successSection.style.display = 'flex'; 

    let data = new FormData(feedbackForm);
    let csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
    
    feedbackForm.reset();

    try {
        let s = await fetch(`/api/save-calculate-request/`, {
        method: "POST",
        body: data,
        headers: {
            "X-CSRFToken": csrfToken
        }
    });
        s.status
    } catch (n) {
        console.error("Ошибка запроса:", n)
    }
});
</script>

<script defer>
    // Анимации
document.addEventListener('DOMContentLoaded', () => {
    let yearsCount = document.querySelector('.years-count'); 
    let containersCount = document.querySelector('.containers-count');
    let citiesCount = document.querySelector('.cities-count'); 
    let supportFormatHours = document.querySelector('.support-format-hours'); 
    let supportFormatDays = document.querySelector('.support-format-days'); 
    let deliveriesCount = document.querySelector('.deliveries-count');

    function runStatsAnimation() {
        yearsCount.innerHTML = 5;
        containersCount.innerHTML = 1000; 
        citiesCount.innerHTML = 50; 
        supportFormatHours.innerHTML = 24; 
        supportFormatDays.innerHTML = 7; 
        deliveriesCount.innerHTML = 10000;
    }

    inView('.home__stats').once('enter', runStatsAnimation);
});


document.addEventListener('DOMContentLoaded', () => {
    setTimeout(() => {
        AOS.init({
            offset: 100, 
            delay: 0,   
            duration: 900, 
            easing: 'ease', 
            once: true,   
        });
    }, 0);
});
</script>
{% endblock script %}