{% extends 'base.html' %} 
{% load static %}
{% load tags %}
{% load container_tags %}


{% block content %}
<div class="main container">
    <div class="main__left">
        <div class="main__heading">
            <p>Логистика, продажа <br> и аренда контейнеров <br> для технических рейсов <br> в России и Китае</p>
        </div>
        <div class="main__points">
            <div class="main__checkbox">
                <div class=main__checkbox-wrap>
                    <input checked type=checkbox id=consent name=consent required>
                </div>
                <div>
                    <label for=consent class=main__checkbox-label>
                        Продажа: большой выбор новых и б/у
                    </label>
                </div>
            </div>
            <div class="main__checkbox">
                <div class=main__checkbox-wrap>
                    <input checked type=checkbox id=consent name=consent required>
                </div>
                <div>
                    <label for=consent class=main__checkbox-label>
                        Аренда: выгодные условия на любой срок
                    </label>
                </div>
            </div>
            <div class="main__checkbox">
                <div class=main__checkbox-wrap>
                    <input checked type=checkbox id=consent name=consent required>
                </div>
                <div>
                    <label for=consent class=main__checkbox-label>
                        Запчасти: склад Carrier, ThermoKing, Daikin, StarCool и аналогов
                    </label>
                </div>
            </div>
            <div class="main__checkbox">
                <div class=main__checkbox-wrap>
                    <input checked type=checkbox id=consent name=consent required>
                </div>
                <div>
                    <label for=consent class=main__checkbox-label>
                        Сервис и ремонт
                    </label>
                </div>
            </div>
        </div>

        <div class="main__buttons">
            <button class="main__button-red background-red-hover openModal">
                Связаться с нами
            </button>
            <a href="{{ company_info.whatsapp_link }}" class="main__button-transparent">
                <img src="static/images/whatsapp.svg" alt="Логтип WhatsApp">
                Написать в WhatsApp
            </a>
        </div>
    </div>
    <div class="main__right">
        <div class="main__prices">
            <img class="main-image" id="mainImage1" src="static/images/new-main1.png" alt="Контейнер">
            <img class="main-image" id="mainImage2" src="{% static 'images/main-2-2.png' %}" alt="Контейнер">
            <img class="main-image" id="mainImage3" src="{% static 'images/main3.png' %}" alt="Фото">
            <img class="main-image--centered" src="static/images/new-main1.png" alt="Контейнер">
            <div id="mainDivision1" class="main__price main-division">
                <div class="main__price-label">Аренда универсальных контейнеров</div>
                <div class="main__price-value">
                    <span class="main__price-big">от 2$</span> /сутки
                </div>
                <a target="_blank" href="{% url 'containers:catalog' %}" class="transparent-button">
                    <button>Выбрать модель</button>
                </a>
            </div>
            <div id="mainDivision2" class="main__price main-division">
                <div class="main__price-label">Продажа разных типов контейнеров</div>
                <div class="main__price-value">
                    <span class="main__price-big">от 1000$</span>
                </div>
                <div class="transparent-button">
                    <button>Скачать каталог</button>
                </div>
            </div>
            <div id="mainDivision3" class="main__price main-division">
                <div class="main__price-label">Услуги импорта и экспорта</div>
                <div class="main__price-value">
                    <span class="main__price-big">По запросу</span>
                </div>
                <div class="transparent-button openModal">
                    <button>Консультация</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home__stats">
    <div class="container">
        <div class="home__stats-inner">
            <div class="home__stat">
                <div style="display: flex;">
                    <p class="home__stat-heading">5 лет </p>
                </div>
                <hr>
                <p class="home__stat-label">успешного опыта в сфере логистики и рефконтейнеров</p>
            </div>
            <div class="home__stat">
                <p class="home__stat-heading">1000+</p>
                <hr>
                <p class="home__stat-label">обслуженных рефконтейнеров по всей России</p>
            </div>
            <div class="home__stat">
                <p class="home__stat-heading">50+</p>
                <hr>
                <p class="home__stat-label">городов, в которых мы работаем</p>
            </div>
            <div class="home__stat">
                <p class="home__stat-heading">24/7</p>
                <hr>
                <p class="home__stat-label">поддержка клиентов без выходных</p>
            </div>
            <div class="home__stat">
                <p class="home__stat-heading">10 000+</p>
                <hr>
                <p class="home__stat-label">доставок контейнеров организовано нашей командой</p>
            </div>
        </div>
    </div>
</div>

<div class="home__containers container">
    <p class="block-heading">Рефконтейнеры</p>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        {% for category in categories %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if forloop.first %}active{% endif %} " id="{{ category.name }}-tab" data-bs-toggle="tab" data-bs-target="#tab-{{ category.name }}" type="button" role="tab" aria-controls="tab-{{ category.name }}" aria-selected="false">
                    {{ category.name }}
                </button>
            </li>
        {% endfor %}
    </ul>
      
      <!-- Контент вкладок -->
      <div class="tab-content" id="myTabContent">
        {% for category in categories %}
         <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="tab-{{ category.name }}" role="tabpanel" aria-labelledby="{{ category.name }}-tab">
                <div class="tab__description">
                    <div class="tab__text">
                        {{ category.description|linebreaks }}
                    </div>
                    <div class="tab__label">
                        *Обратите внимание, цены указаны с НДС
                    </div>
                </div>

                <div class="home__containers-cards">
                    {% for container in category.category_containers.all %}
                        <div class="home__container-card">
                            <a target="_blank" href="{{ container.get_absolute_url }}">
                                <img src="{{ container.images.all.0.image.url }}" alt="Фото контейнера">
                            </a>
                            <div class="home__container-card-text">
                                <div class="home__container-card-name">
                                    <a target="_blank" href="{{ container.get_absolute_url }}" class="home__container-card-name--big red-hover">{{ container.name }}</a>
                                    <p class="home__container-card-name--small">{{ container.container_type.name|foot_to_symbol }} <span class="container__name-divider">|</span> {{ container.year }}г. <span class="container__name-divider">|</span> {{ container.model }}</p>
                                </div>
                                <div class="home__container-lower">
                                    <div class="home__container-lower-left">
                                        <p class="home__container-card-price">{{ container.price|price_format }} ₽ </p>
                                        {% if container.is_in_stock %}
                                            <div class="home__container-card-in-stock">
                                                <img src="{% static 'images/green-mark.svg' %}" alt="Галочка">
                                                В наличии
                                            </div>
                                        {% else %}
                                            <div class="home__container-card-in-stock">
                                                <img src="{% static 'images/gray-circle.svg' %}" alt="Крест">
                                                Под заказ
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="home__container-button-container">
                                        <a target="_blank" href="{{ container.get_absolute_url }}" class="home__container-button">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a target="_blank" href="{% url 'containers:catalog' %}" class="home__containers-watch-all">
                    Смотреть все
                </a>
            </div>
        {% endfor %}
      </div>
</div>

<div class="home__parts container">
    <div class="block-heading">
        Запчасти
    </div>
    <div class="home__parts-row">
        <div class="home__parts-left">
            <div class="home__parts-description">
                Мы предлагаем широкий выбор запчастей для рефрижераторов мировых брендов: Carrier, Thermo King, Daikin, Star Cool. Все запчасти поставляются с гарантией и возможностью доставки.
            </div>
            <div class="home__parts-points">
                <div class="main__checkbox">
                    <div class=main__checkbox-wrap>
                        <input checked type=checkbox id=consent name=consent required>
                    </div>
                    <div>
                        <label for=consent class=main__checkbox-label>
                            Всегда в наличии востребованные оригинальные запчасти
                        </label>
                    </div>
                </div>
                <div class="main__checkbox">
                    <div class=main__checkbox-wrap>
                        <input checked type=checkbox id=consent name=consent required>
                    </div>
                    <div>
                        <label for=consent class=main__checkbox-label>
                            Быстрая доставка от 2-3 дней.
                        </label>
                    </div>
                </div>
                <div class="main__checkbox">
                    <div class=main__checkbox-wrap>
                        <input checked type=checkbox id=consent name=consent required>
                    </div>
                    <div>
                        <label for=consent class=main__checkbox-label>
                            Обеспечение всеми необходимыми запчастями и расходными материалами.
                        </label>
                    </div>
                </div>
                <div class="main__checkbox">
                    <div class=main__checkbox-wrap>
                        <input checked type=checkbox id=consent name=consent required>
                    </div>
                    <div>
                        <label for=consent class=main__checkbox-label>
                            Гарантия 30 дней на все запчасти при обнаружении заводского брака.
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="home__parts-right">
            <div class="home__parts-brand-card">
                <img src="static/images/part-brand-1.png" alt="Логотип бренда">
                <a target="_blank" class="home__parts-brand-card-button" href="{% url 'repair_parts:catalog' %}">Смотреть все</a>
            </div>
            <div class="home__parts-brand-card">
                <img src="static/images/part-brand-2.png" alt="Логотип бренда">
                <a target="_blank" class="home__parts-brand-card-button" href="{% url 'repair_parts:catalog' %}">Смотреть все</a>
            </div>
            <div class="home__parts-brand-card">
                <img src="static/images/part-brand-3.png" alt="Логотип бренда">
                <a target="_blank" class="home__parts-brand-card-button" href="{% url 'repair_parts:catalog' %}">Смотреть все</a>
            </div>
            <div class="home__parts-brand-card">
                <img src="static/images/part-brand-4.png" alt="Логотип бренда">
                <a target="_blank" class="home__parts-brand-card-button" href="{% url 'repair_parts:catalog' %}">Смотреть все</a>
            </div>
            <div class="home__parts-brand-card only-desktop">
                <p class="home__parts-brand-card-heading">Расходники</p>
                <a target="_blank" class="home__parts-brand-card-button" href="{% url 'repair_parts:catalog' %}">Смотреть все</a>
            </div>
            <div class="home__parts-brand-card only-desktop">
                <p class="home__parts-brand-card-heading">Расходники</p>
                <a target="_blank" class="home__parts-brand-card-button-red background-red-hover" href="">Запросить весь каталог</a>
            </div>
        </div>
        <a target="_blank" href="{% url 'repair_parts:catalog' %}" class="home__parts-brand-card-button--mobile-container only-mobile--flex">
            <p class="home__parts-brand-card-button--mobile">Расходники</p>
        </a>
        <a target="_blank" href="{% url 'repair_parts:catalog' %}" class="home__parts-brand-card-button--mobile-container-red only-mobile--flex background-red-hover">
            <p class="home__parts-brand-card-button--mobile">Запросить весь каталог</p>
        </a>
    </div>
</div>

<div class="home__service container">
    <div class="block-heading">
        Обслуживание и ремонт рефконтейнеров
    </div>
    <div class="home__service-body">
        <div class="home__service-left">
            <img class="home__service-image" src="static/images/home-service-image.png" alt="Фото">
            <p class="home__service-text">Столкнулись с поломкой рефрижераторного контейнера? <br>
                Мы предлагаем быстрые и качественные услуги по диагностике и ремонту, минимизируя ваши затраты и риски порчи груза.</p>
            <div class="home__service-points">
                <div class="home__service-point">
                    <div class="home__service-point-icon">
                        <img src="static/images/home-service-search.svg" alt="Иконка 1">
                    </div>
                    <div class="home__service-point-text">
                        <p class="home__service-point-heading">Диагностика (Pre Trip Inspection)</p>
                        <p class="home__service-point-sub">Проверка рефрижератора для выявления неисправностей и подготовки к эксплуатации</p>
                    </div>
                </div>
                <div class="home__service-point">
                    <div class="home__service-point-icon">
                        <img src="static/images/home-service-settings.svg" alt="Иконка 2">
                    </div>
                    <div class="home__service-point-text">
                        <p class="home__service-point-heading">Ремонт и замена узлов и агрегатов рефрижераторов</p>
                        <p class="home__service-point-sub">Замена и ремонт компонентов рефрижераторов Carrier, Thermo King, Daikin.</p>
                    </div>
                </div>
                <div class="home__service-point">
                    <div class="home__service-point-icon">
                        <img src="static/images/home-service-lightning.svg" alt="Иконка 3">
                    </div>
                    <div class="home__service-point-text">
                        <p class="home__service-point-heading">Ремонт компрессоров, микроконтроллеров, дисплеев и других компонентов</p>
                        <p class="home__service-point-sub">Восстановление компрессоров, микроконтроллеров и дисплеев.</p>
                    </div>
                </div>
                <div class="home__service-point">
                    <div class="home__service-point-icon">
                        <img src="static/images/home-service-speedometer.svg" alt="Иконка 4">
                    </div>
                    <div class="home__service-point-text">
                        <p class="home__service-point-heading">Заправка системы фреоном</p>
                        <p class="home__service-point-sub">Дозаправка системы для восстановления её эффективности.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="home__service-right">
            <form id="serviceBlockForm" class="home__service-form" action="">
                {% csrf_token %}
                <p class="home__service-form-heading">Расчитать стоимость обслуживания</p>
                <div class="home__service-form-inputs">
                    <select name="{{ calculate_form.container_type.name }}" id="{{ calculate_form.container_type.id_for_label }}" required>
                        <option value="" disabled selected hidden>Тип контейнера</option>
                        {% for category in calculate_form.container_type.field.queryset %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                    <select name="{{ calculate_form.service_type.name }}" id="{{ calculate_form.service_type.id_for_label }}" required>
                        <option value="" disabled selected hidden>Вид обслуживания</option>
                        {% for service_type in calculate_form.service_type.field.queryset %}
                            <option value="{{ service_type.id }}">{{ service_type.name }}</option>
                        {% endfor %}
                    </select>
                    
                    {{ calculate_form.city }}
                    {{ calculate_form.phone }}
                    {{ calculate_form.message }}
                    <div class="form__checkbox">
                        <div class=form__checkbox-wrap>
                            <input checked type=checkbox id=service-form-input name=consent required>
                        </div>
                        <div>
                            <label for=service-form-input class=form__checkbox-label>
                                Согласен с обработкой персональных данных
                            </label>
                        </div>
                    </div>
                    <button class="red-button">Отправить</button>
                </div>  
            </form>
        </div>
    </div>
</div>

<div class="home__partners container">
    <div class="block-heading">Нам доверяют</div>
    <div class="home__partners-list">
        <img src="static/images/partners-five.png" alt="Логотип компании" 
            data-name="Иванов Алексей Петрович" 
            data-role="Директор по развитию X5 Group"
            data-quote="X5 Group ценит качество обслуживания и надежность партнера."
            data-img="static/images/partners-quote-author.png">
        
        <img src="static/images/partners-gazprom.png" alt="Логотип компании" 
            data-name="Петров Сергей Викторович" 
            data-role="Руководитель логистического отдела Газпром"
            data-quote="Газпром отмечает высокий профессионализм и оперативность."
            data-img="static/images/partners-quote-author.png">
        
        <img src="static/images/partners-agro.png" alt="Логотип компании" 
            data-name="Мельников Сергей Владимирович" 
            data-role="Заместитель генерального директора по закупкам и снабжению АО фирмы «Агрокомплекс»"
            data-quote="Компания зарекомендовала себя как надежный партнер в сфере логистики."
            data-img="static/images/partners-quote-author.png">

        <img src="static/images/partners-fesco.png" alt="Логотип компании"
            data-name="Сидоров Иван Геннадьевич"
            data-role="Глава отдела перевозок FESCO"
            data-quote="FESCO доверяет надежным партнерам в сфере перевозок."
            data-img="static/images/partners-quote-author.png">
        
        <img src="static/images/partners-ab.png" alt="Логотип компании"
            data-name="Александров Дмитрий Сергеевич"
            data-role="Логистический менеджер AB Group"
            data-quote="AB Group сотрудничает только с лучшими компаниями."
            data-img="static/images/partners-quote-author.png">
        
        <img src="static/images/partners-ashan.png" alt="Логотип компании"
            data-name="Кузнецов Николай Владимирович"
            data-role="Менеджер по логистике Ашан"
            data-quote="Ашан отмечает высокий уровень сервиса."
            data-img="static/images/partners-quote-author.png">
        
        <img src="static/images/partners-ozon.png" alt="Логотип компании"
            data-name="Смирнов Олег Игоревич"
            data-role="Глава отдела партнерств Ozon"
            data-quote="Ozon доверяет партнерам, которые соблюдают стандарты качества."
            data-img="static/images/partners-quote-author.png">
    </div>
    <div class="home__partners-quote-block">
        <div class="home__partners-quote-author">
            <img class="home__partners-quote-author-img" src="static/images/partners-quote-author.png" alt="Фото представителя компании">
            <div class="home__partners-quote-author-content">
                <p class="home__partners-quote-author-name">Мельников Сергей Владимирович</p>
                <p class="home__partners-quote-author-role">Заместитель генерального директора по закупкам и снабжению АО фирмы «Агрокомплекс»</p>
            </div>
        </div>
        <div class="home__partners-quote-text">
            <img src="static/images/quote-icon.svg" alt="Символ цитаты">
            <p id="quote-text">Компания зарекомендовала себя как надежный партнер в сфере логистики.</p>
        </div>
    </div>
</div>



{% include 'home/includes/questions_block.html' %}
{% include 'home/includes/contacts_block.html' %}

{% endblock %}


{% block script %}
<script>
    // Слайдеры
$(document).ready((function() {
    $(".home__containers-cards").slick({
        arrows: true,
        dots: false,
        infinite: true,
        speed: 500,
        slidesToShow: 4,
        adaptiveHeight: false,
        autoplay: false,
        responsive: [{
            breakpoint: 1024,
            settings: {
                slidesToShow: 3,
                slidesToScroll: 1
            }
        }, {
            breakpoint: 768,
            settings: {
                centerMode: !0,
                slidesToShow: 2,
                slidesToScroll: 1
            }
        }, {
            breakpoint: 576,
            settings: {
                centerMode: !0,
                slidesToShow: 1,
                slidesToScroll: 1
            }
        }] 
    })
}))

// Главная 
document.querySelectorAll('.main__price').forEach((division) => {
    division.addEventListener('mouseenter', () => {
        document.getElementById('mainImage1').style.opacity = '0';
        document.getElementById('mainImage2').style.opacity = '0';
        document.getElementById('mainImage3').style.opacity = '0';
 
        if (division.id === 'mainDivision1') {
            document.getElementById('mainImage1').style.opacity = '1'; 
        } else if (division.id === 'mainDivision2') {
            document.getElementById('mainImage2').style.opacity = '1'; 
        } else if (division.id === 'mainDivision3') {
            document.getElementById('mainImage3').style.opacity = '1'; 
        }
    });
});
document.querySelectorAll('.main__price').forEach((division) => {
    division.addEventListener('mouseenter', () => {
        document.querySelectorAll('.main__price').forEach((div) => {
            div.classList.remove('active');
        });

        division.classList.add('active');
    });
    if (division.id === 'mainDivision1') {
        division.classList.add('active');
    }
});

// Цитаты
document.querySelectorAll('.home__partners-list img').forEach(logo => {
    const quoteBlock = document.querySelector('.home__partners-quote-block');

    logo.addEventListener('mouseenter', function () {
        quoteBlock.style.opacity = "0.2"; 

        setTimeout(() => {
            document.querySelector('.home__partners-quote-author-name').textContent = this.dataset.name;
        document.querySelector('.home__partners-quote-author-role').textContent = this.dataset.role;
        document.getElementById('quote-text').textContent = this.dataset.quote;
        
        document.querySelector('.home__partners-quote-author-img').src = this.dataset.img;

        document.querySelectorAll('.home__partners-list img').forEach(img => {
            img.classList.remove('active');
        });

        this.classList.add('active');

            quoteBlock.style.opacity = "1"; 
        }, 150); 
    });
});


// Форма ОС в блоке "Обслуживание контейнеров"
const feedbackForm = document.getElementById("serviceBlockForm");
console.log(feedbackForm);

feedbackForm.addEventListener("submit", async (event) => {
    event.preventDefault();
    const successSection = document.getElementById('modalSuccess');
    const containerType = document.getElementById("{{ calculate_form.container_type.id_for_label }}");
    const serviceType = document.getElementById("{{ calculate_form.service_type.id_for_label }}");

    successSection.style.display = 'flex'; 

    let data = new FormData(feedbackForm);
    let csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
    
    feedbackForm.reset();

    try {
        let s = await fetch(`/api/save-calculate-request/`, {
        method: "POST",
        body: data,
        headers: {
            "X-CSRFToken": csrfToken
        }
    });
        s.status
    } catch (n) {
        console.error("Ошибка запроса:", n)
    }
});


</script>
{% endblock script %}