{% extends 'base.html' %} 
{% load static %}
{% load tags %}
{% load generators_tags %} 
{% load repair_parts_tags %}
{% load container_tags %}


{% block title %}Дизельные генераторы трехфазные на 100, 300 квт - покупка, аренда, цены | ТехноТранс{% endblock %} 
{% block meta_title %}Дизельные генераторы трехфазные на 100, 300 квт - покупка, аренда, цены | ТехноТранс{% endblock %} 
{% block description %}Дизель генераторы под любые цели. Генераторы высоковольтные, трехфазные и с автозапуском с доставкой по России. Цены от 500 т.р! Оставьте заявку или рассчитайте стоимость на нашем сайте.  
{% endblock %} 
{% block meta_description %}Дизель генераторы под любые цели. Генераторы высоковольтные, трехфазные и с автозапуском с доставкой по России. Цены от 500 т.р! Оставьте заявку или рассчитайте стоимость на нашем сайте.{% endblock %} 


{% block content %}
<div class="breadcrumbs container">
    <a class="red-hover" href="{% url 'home:home' %}">Главная</a>
    <img src="{% static 'images/arrow-right-gray.svg' %}" alt="Стрелка">
    <a href=" " class="active">Дизель-генераторы</a>
</div>

<div class="catalog container">
    <h1 class="catalog__heading">Дизель-генераторы</h1>
    <div class="catalog-body">
        <div class="about-company__body">
            <div class="about-company__description">
                <p>При многочасовой перевозке рефконтейнера на контейнеровозе или при временном отключении хранимого груженого рефконтейнера от электропитания существует риск изменения температуры груза внутри контейнера  и, как следствие, его порчи. </p><br>
                <p>Использование автономных навесных дизель-генераторов (Clip On genset или дженсетов) сводит эти риски практически к нулю. Дженсет вырабатывает электричество и питает рефустановку контейнера на протяжении длительного времени (до 7 суток, при условии полного заполнения топливного бака, 460 л).</p><br>
                <p>В свою очередь, рефконтейнер непрерывно поддерживает заданную температуру груза.</p><br>
                <p>Наша компания осуществляет прямые поставки из Европы навесных дизель-генераторов на территорию РФ от надежных и проверенных  поставщиков.</p>
            </div>
            <div class="home__service-points">
                <div class="home__service-point">
                    <div class="home__service-point-icon">
                        <img src="{% static 'images/about-company-key.svg' %}" alt="Иконка 1">
                    </div>
                    <div class="home__service-point-text">
                        <p class="home__service-point-heading">Индивидуальный подход к каждому клиенту</p>
                        <p class="home__service-point-sub">Компания предлагает уникальные решения, учитывая специфику бизнеса и пожелания клиента. Это позволяет находить оптимальные варианты для каждого заказчика.</p>
                    </div>
                </div>
                <div class="home__service-point">
                    <div class="home__service-point-icon">
                        <img src="{% static 'images/about-company-bag.svg' %}" alt="Иконка 2">
                    </div>
                    <div class="home__service-point-text">
                        <p class="home__service-point-heading">Профессионализм и опыт команды</p>
                        <p class="home__service-point-sub">Компания объединяет опытных логистов и использует передовые технологии, что позволяет обеспечивать высокий уровень сервиса и эффективность решений.</p>
                    </div>
                </div>
                <div class="home__service-point">
                    <div class="home__service-point-icon">
                        <img src="{% static 'images/about-company-checkmark.svg' %}" alt="Иконка 3">
                    </div>
                    <div class="home__service-point-text">
                        <p class="home__service-point-heading">Гибкость и поддержка клиентов</p>
                        <p class="home__service-point-sub">Менеджеры компании всегда на связи, готовы оперативно ответить на вопросы и помочь в решении любых задач, связанных с логистикой и использованием рефконтейнеров.</p>
                    </div>
                </div>
                <div class="home__service-point">
                    <div class="home__service-point-icon">
                        <img src="{% static 'images/about-company-well.svg' %}" alt="Иконка 4">
                    </div>
                    <div class="home__service-point-text">
                        <p class="home__service-point-heading">Удобство и простота в сотрудничестве</p>
                        <p class="home__service-point-sub">Компания стремится сделать логистику максимально понятной и удобной для клиентов, предлагая бесплатную доставку в сотни городов России и детально проработанные решения.</p>
                    </div>
                </div>
            </div>

            <div class="generators-list">
                <p class="block-heading">Популярные предложения</p>
                <div class="home__containers-cards">
                    {% for generator in generators %}
                        <div class="home__container-card {% if generators_count < 4 %} if-less-than-4 {% endif %}">
                            <a href="{{ generator.get_absolute_url }}">
                                <img src="{{ generator.images.all.0.image.url }}" alt="Фото генератора">
                            </a>
                            <div class="home__container-card-text">
                                <div class="home__container-card-name">
                                    <a href="{{ generator.get_absolute_url }}" class="home__container-card-name--big red-hover">{{ generator.name }}</a>
                                    <p class="home__container-card-name--small">{{ generator.generator_type.name|foot_to_symbol }} <span class="container__name-divider">|</span> {{ generator.year }}г.</p>
                                </div>
                                <div class="home__container-lower">
                                    <div class="home__container-lower-left">
                                        <p class="home__container-card-price">{{ generator.price|price_format }} ₽ </p>
                                        {% if generator.is_in_stock %}
                                            <div class="home__container-card-in-stock">
                                                <img src="{% static 'images/green-mark.svg' %}" alt="Галочка">
                                                В наличии
                                            </div>
                                        {% else %}
                                            <div class="home__container-card-in-stock">
                                                <img src="{% static 'images/gray-circle.svg' %}" alt="Крест">
                                                Под заказ
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="home__container-button-container">
                                        <a href="{{ generator.get_absolute_url }}" class="home__container-button">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="home__containers-watch-all openModal">
                    Получить консультацию
                </a>
            </div>
        </div>
    </div>
</div>

{% include 'home/includes/questions_block.html' %}
{% include 'home/includes/contacts_block.html' %}
{% endblock %}

{% block script %}
<script> 
document.addEventListener("DOMContentLoaded", () => {
    // Пагинация
    document.querySelectorAll(".pagination a").forEach((e) => {
        e.addEventListener("click", (a) => {
            a.preventDefault();
            const n = new URL(e.href);
            const currentParams = new URLSearchParams(window.location.search);

            currentParams.delete('page');

            const page = new URL(n).searchParams.get('page');
            if (page) {
                currentParams.set('page', page);
            }

            n.search = currentParams.toString();
            window.location.href = n.toString();
        });
    });

    // Обработчик клика по кнопкам фильтров
    document.querySelectorAll(".catalog__applied-filter").forEach((button) => {
        button.addEventListener("click", (e) => {
            e.preventDefault();

            const filterName = button.getAttribute("data-filter-name");
            const filterValue = button.getAttribute("data-filter-value");

            const url = new URL(window.location.href);
            const params = new URLSearchParams(url.search);

            const filterValues = params.getAll(filterName);

            const newFilterValues = filterValues.filter(value => value !== filterValue);

            if (newFilterValues.length > 0) {
                params.delete(filterName); 
                newFilterValues.forEach(value => {
                    params.append(filterName, value); 
                });
            } else {
                params.delete(filterName);
            }

            params.delete("page");

            url.search = params.toString();
            window.location.href = url.toString();
        });
    });
});

// Слайдеры
$(document).ready((function() {
    $(".home__containers-cards").slick({
        arrows: true,
        dots: false,
        infinite: true,
        speed: 500,
        slidesToShow: 2,
        adaptiveHeight: false,
        autoplay: false,
        responsive: [{
            breakpoint: 1024,
            settings: {
                slidesToShow: 3,
                slidesToScroll: 1
            }
        }, {
            breakpoint: 768,
            settings: {
                centerMode: !0,
                slidesToShow: 2,
                slidesToScroll: 1
            }
        }, {
            breakpoint: 576,
            settings: {
                centerMode: !0,
                slidesToShow: 1,
                slidesToScroll: 1
            }
        }] 
    })
}))

</script>
{% endblock %}