{% extends 'base.html' %} 
{% load static %}
{% load tags %}
{% load container_tags %} 


{% block title %}Дизельный генератор {% if generator.power %}мощностью {{ generator.power }} {% endif %}за {{ generator.price|price_format }} р | Техно Транс{% endblock %} 
{% block meta_title %}Дизельный генератор {% if generator.power %}мощностью {{ generator.power }} {% endif %}за {{ generator.price|price_format }} р | Техно Транс{% endblock %} 
{% block description %}Дизель генераторы под любые цели. Генераторы {{ generator.generator_type }} {{ generator.year }} года, мощностью {{ generator.power }} квт с доставкой по России. Цены от {{ generator.price }}! Оставьте заявку или рассчитайте стоимость на нашем сайте.{% endblock %} 
{% block meta_description %}Дизель генераторы под любые цели. Генераторы {{ generator.generator_type }} {{ generator.year }} года, мощностью {{ generator.power }} квт с доставкой по России. Цены от {{ generator.price }}! Оставьте заявку или рассчитайте стоимость на нашем сайте.{% endblock %} 


{% block content %}
<!-- Swiper -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
<script src="{% static 'js/slick/slick/slick.min.js' %}"></script>
<div class="breadcrumbs container">
    <a class="red-hover" href="{% url 'home:home' %}">Главная</a>
    <img src="{% static 'images/arrow-right-gray.svg' %}" alt="Стрелка">
    <a class="red-hover" href="{% url 'generators:catalog' %}">Генераторы</a>
    <img src="{% static 'images/arrow-right-gray.svg' %}" alt="Стрелка">
    <a class="active" href=" ">{{ generator.name }}</a>
</div>

<div class="catalog container generator">
    <h1 class="catalog__heading">{{ generator.name }}{% if generator.power %} {{ generator.power }} квт{% endif %}</h1>
    <div class="container__general-info">
        <div class="container__left">
            <div class="container__slider">
                <div class="swiper container__current-slide">
                    <div class="swiper-wrapper">
                        {% for image in generator.images.all %}
                            <div class="swiper-slide current">
                                <a href="{{ image.image.url }}">
                                    <img loading="lazy" src="{{ image.image.url }}" alt="Фото контейнера">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="swiper container__slider-nav">
                    <div class="swiper-wrapper">
                        {% for image in generator.images.all %}
                            <div class="swiper-slide container__slide mini">
                                <img src="{{ image.image.url }}" alt="Фото контейнера">
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next swiper-thumbs-next"></div>
                    <div class="swiper-button-prev swiper-thumbs-prev"></div>
                </div>
            </div>
        </div>
        <div class="container__right">
            <div class="container__short-info">
                <div class="container__table-info">
                    <div class="container__table-row no-border-top">
                        <span class="container__table-label">Год выпуска</span>
                        <span class="container__table-value">{{ generator.year    }}</span>
                    </div>
                    {% if generator.generator_model %}
                        <div class="container__table-row">
                            <span class="container__table-label">Модель</span>
                            <span class="container__table-value">{{ generator.generator_model }}</span>
                        </div>
                    {% endif %}
                    {% if generator.power %}
                        <div class="container__table-row container__table-row--last">
                            <span class="container__table-label">Номинальная мощность, квт</span>
                            <span class="container__table-value">{{ generator.power }}</span>
                        </div>
                    {% endif %}
                </div>
                <div>
                    <a href="" class="container__all-specs">
                        <p>Все характеристики</p>
                    </a>
                </div>
            </div>
            <div class="container__order-card">
                <div class="container__order-card-price-block">
                    <div class="container__order-card-prices">
                        <p class="container__order-card-price--main">{{ generator.price|price_format }} ₽ </p>
                        {% if generator.old_price %}
                            <p class="container__order-card-price--crossed">{{ generator.old_price|price_format }} ₽ </p>
                        {% endif %}
                    </div>
                    <div class="container__order-card-in-stock">
                        {% if generator.is_in_stock %}
                            <img src="{% static 'images/green-mark.svg' %}" alt="Галочка">
                            В наличии
                        {% else %}
                            <img src="{% static 'images/gray-circle.svg' %}" alt="Крест">
                            Под заказ
                        {% endif %}
                    </div>
                    
                </div>
                <div class="main__buttons">
                    <button class="main__button-red openModal background-red-hover">
                        Оформить заказ
                    </button>
                    <a href="{{ company_info.whatsapp_link }}" target="_blank" class="main__button-transparent">
                        <img src="{% static 'images/whatsapp.svg' %}" alt="Логотип WhatsApp">
                        <p>Написать в Whatsapp</p>
                    </a>
                </div>
                {% if generator.with_nds %}
                    <div class="tab__label">
                        *Обратите внимание, цены указаны с НДС
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container__info container">
        <div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#tab-description" type="button" role="tab" aria-controls="tab-description" aria-selected="false">
                        Описание
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="specs-tab" data-bs-toggle="tab" data-bs-target="#tab-specs" type="button" role="tab" aria-controls="tab-specs" aria-selected="false">
                        Характеристики
                    </button>
                </li>
            </ul>
        </div>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab-description" role="tabpanel" aria-labelledby="description-tab">
                {% if generator.description|markdown %}
                    {{ generator.description|markdown }}     
                {% else %}
                    Навесной дизель-генератор — это компактный и мощный источник автономного электроснабжения. Он имеет небольшие габариты и монтируется на раму транспортного средства или спецтехники, обеспечивая электроэнергией оборудование в полевых условиях. Генератор оснащен экономичным дизельным двигателем, который гарантирует стабильную работу даже при высоких нагрузках. Корпус выполнен из прочных материалов, защищающих от влаги, вибраций и механических повреждений, что повышает надежность и срок службы установки.
                {% endif %}
            </div>
            <div class="tab-pane fade" id="tab-specs" role="tabpanel" aria-labelledby="specs-tab">
                <p class="container__specs-subheading">Общая информация</p>
                <div>
                    {% if generator.power %} 
                    <div class="container__specs-row">
                        <span class="container__specs-label">Номинальная мощность, квт</span>
                        <span>{{ generator.power }}</span>
                    </div>  
                    {% endif %}
                    <div class="container__specs-row">
                        <span class="container__specs-label">Год выпуска</span>
                        <span>{{ generator.year }}</span>
                    </div>  
                    {% if generator.generator_model %}
                        <div class="container__specs-row">
                            <span class="container__specs-label">Модель</span>
                            <span>{{ generator.generator_model }}</span>
                        </div>  
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'home/includes/questions_block.html' %}
{% include 'home/includes/contacts_block.html' %}
{% endblock %}

{% block script %}
<!-- Слайдеры -->
<script defer>
const swiperThumbs = new Swiper('.container__slider-nav', {
    spaceBetween: 10,
    slidesPerView: 'auto',
    freeMode: true,
    watchSlidesProgress: true,
    slideToClickedSlide: true,
    simulateTouch: true,     
    touchRatio: 0.8,   
    navigation: {
        nextEl: '.swiper-thumbs-next',
        prevEl: '.swiper-thumbs-prev'
    },        
});

const swiperMain = new Swiper('.container__current-slide', {
    spaceBetween: 5, 
    effect: 'creative',
    creativeEffect: {
        prev: {
            opacity: 0,
            translate: [0, 0, 0],
            scale: 1,
        },
        next: {
            opacity: 0,
            translate: [0, 0, 0],
            scale: 1,
        },
    },
    allowTouchMove: true, 
    thumbs: {
        swiper: swiperThumbs,
    },
});

// Все характеристики
const specsButton = document.getElementById("specs-tab");
document.querySelector(".container__all-specs").addEventListener("click", (button) => {
    event.preventDefault();
    specsButton.click();
    document.getElementById("specs-tab").scrollIntoView({ behavior: "smooth" });

});
</script>

<script type=module>
    import{L as LuminousGallery}from"/static/js/luminous-lightbox/luminous-lightbox.js";

    function initGallery() {
        var l = document.querySelectorAll(".container__current-slide a");
        const e = {
            showCloseButton: !0
        };
        l.length > 0 && new LuminousGallery(l, e);
    }
    
    initGallery()
</script>
{% endblock %}