{% extends 'base.html' %} 
{% load static %}
{% load tags %}
{% load container_tags %} 


{% block title %}Дизельный генератор мощностью {{ generator.power }} за {{ generator.price|price_format }} | Технотранс{% endblock %} 
{% block meta_title %}Дизельный генератор мощностью {{ generator.power }} за {{ generator.price|price_format }} | Технотранс{% endblock %} 
{% block description %}Дизель генераторы под любые цели. Генераторы {{ generator.generator_type }} {{ generator.year }} года, мощностью {{ generator.power }} квт с доставкой по России. Цены от {{ generator.price }}! Оставьте заявку или рассчитайте стоимость на нашем сайте.{% endblock %} 
{% block meta_description %}Дизель генераторы под любые цели. Генераторы {{ generator.generator_type }} {{ generator.year }} года, мощностью {{ generator.power }} квт с доставкой по России. Цены от {{ generator.price }}! Оставьте заявку или рассчитайте стоимость на нашем сайте.{% endblock %} 


{% block content %}
<link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
<script src="{% static 'js/slick/slick/slick.min.js' %}"></script>
<div class="breadcrumbs container">
    <a class="red-hover" href="{% url 'home:home' %}">Главная</a>
    <img src="{% static 'images/arrow-right-gray.svg' %}" alt="Стрелка">
    <a class="red-hover" href="{% url 'generators:catalog' %}">Генераторы</a>
    <img src="{% static 'images/arrow-right-gray.svg' %}" alt="Стрелка">
    <a class="active" href=" ">{{ generator.name }}</a>
</div>

<div class="catalog container">
    <h1 class="catalog__heading">{{ generator.name }} {{ generator.power }} квт</h1>
    <div class="container__general-info">
        <div class="container__left">
            <div class="container__slider">
                <div class="container__current-slide" href="">
                    {% for image in generator.images.all %}
                    <div>
                        <a href="{{ image.image.url }}">
                            <img src="{{ image.image.url }}" alt="Фото контейнера">
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <div class="container__slider-nav">
                    {% for image in generator.images.all %}
                    <div class="container__slide">
                        <img src="{{ image.image.url }}" alt="Фото контейнера">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="container__right">
            <div class="container__short-info">
                <img class="container__brand-logo" src="{{ generator.brand.image.url }}" alt="Фото генератора">
                <div class="container__table-info">
                    <div class="container__table-row">
                        <span class="container__table-label">Год выпуска</span>
                        <span class="container__table-value">{{ generator.year    }}</span>
                    </div>
                    <div class="container__table-row container__table-row--last">
                        <span class="container__table-label">Тип</span>
                        <span class="container__table-value">{{ generator.generator_type }}</span>
                    </div>
                    <div class="container__table-row">
                        <span class="container__table-label">Номинальная мощность, квт</span>
                        <span class="container__table-value">{{ generator.power }}</span>
                    </div>
                </div>
                <div>
                    <a href="" class="container__all-specs">
                        <p>Все характеристики</p>
                    </a>
                </div>
            </div>
            <div class="container__order-card">
                <div class="container__order-card-price-block">
                    <div class="container__order-card-prices">
                        <p class="container__order-card-price--main">{{ generator.price|price_format }} ₽ </p>
                        <p class="container__order-card-price--crossed">{{ generator.old_price|price_format }} ₽ </p>
                    </div>
                    <div class="container__order-card-in-stock">
                        {% if generator.is_in_stock %}
                            <img src="{% static 'images/green-mark.svg' %}" alt="Галочка">
                            В наличии
                        {% else %}
                            <img src="{% static 'images/gray-circle.svg' %}" alt="Крест">
                            Под заказ
                        {% endif %}
                    </div>
                    
                </div>
                <div class="main__buttons">
                    <button class="main__button-red openModal background-red-hover">
                        Оформить заказ
                    </button>
                    <a href="{{ company_info.whatsapp_link }}" class="main__button-transparent">
                        <img src="{% static 'images/whatsapp.svg' %}" alt="Логотип WhatsApp">
                        <p>Написать в Whatsapp</p>
                    </a>
                </div>
                {% if generator.with_nds %}
                    <div class="tab__label">
                        *Обратите внимание, цены указаны с НДС
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container__info container">
        <div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#tab-description" type="button" role="tab" aria-controls="tab-description" aria-selected="false">
                        Описание
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="specs-tab" data-bs-toggle="tab" data-bs-target="#tab-specs" type="button" role="tab" aria-controls="tab-specs" aria-selected="false">
                        Характеристики
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="delivery-tab" data-bs-toggle="tab" data-bs-target="#tab-delivery" type="button" role="tab" aria-controls="tab-delivery" aria-selected="false">
                        Доставка
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="payment-tab" data-bs-toggle="tab" data-bs-target="#tab-payment" type="button" role="tab" aria-controls="tab-payment" aria-selected="false">
                        Оплата
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="warranty-tab" data-bs-toggle="tab" data-bs-target="#tab-warranty" type="button" role="tab" aria-controls="tab-warranty" aria-selected="false">
                        Гарантия
                    </button>
                </li>
            </ul>
        </div>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab-description" role="tabpanel" aria-labelledby="description-tab">
                {{ generator.description|markdown }}     
            </div>
            <div class="tab-pane fade" id="tab-specs" role="tabpanel" aria-labelledby="specs-tab">
                <p class="container__specs-subheading">Общая информация</p>
                <div>
                    <div class="container__specs-row">
                        <span class="container__specs-label">Название</span>
                        <span>{{ generator.name }}</span>
                    </div>  
                    <div class="container__specs-row">
                        <span class="container__specs-label">Номинальная мощность, квт</span>
                        <span>{{ generator.power }}</span>
                    </div>  
                    <div class="container__specs-row">
                        <span class="container__specs-label">Год выпуска</span>
                        <span>{{ generator.year }}</span>
                    </div>  
                </div>
            </div>
            <div class="tab-pane fade" id="tab-delivery" role="tabpanel" aria-labelledby="delivery-tab">
                Текст о доставке   
            </div>
            <div class="tab-pane fade" id="tab-payment" role="tabpanel" aria-labelledby="payment-tab">
                Текст об оплате    
            </div>
            <div class="tab-pane fade" id="tab-warranty" role="tabpanel" aria-labelledby="warranty-tab">
                Текст о гарантии  
            </div>
        </div>
    </div>
</div>

{% include 'home/includes/questions_block.html' %}
{% include 'home/includes/contacts_block.html' %}
{% endblock %}

{% block script %}
<!-- Слайдеры -->
<script defer>
$(".container__current-slide").slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: false,
    fade: true,
    infinite: true,
    asNavFor: ".container__slider-nav", 
});
$(".container__slider-nav").slick({
    slidesToShow: 5,
    slidesToScroll: 1,
    asNavFor: ".container__current-slide",
    dots: false,
    arrows: false,
    infinite: true,
    focusOnSelect: true, 
    variableWidth: true, 
}); 

// Все характеристики
const specsButton = document.getElementById("specs-tab");
document.querySelector(".container__all-specs").addEventListener("click", (button) => {
    event.preventDefault();
    specsButton.click();
    document.getElementById("specs-tab").scrollIntoView({ behavior: "smooth" });

});
</script>

<script type=module>
    import{L as LuminousGallery}from"/static/js/luminous-lightbox/luminous-lightbox.js";

    function initGallery() {
        var l = document.querySelectorAll(".container__current-slide a");
        const e = {
            showCloseButton: !0
        };
        l.length > 0 && new LuminousGallery(l, e);
    }
    
    initGallery()
</script>
{% endblock %}