{% extends 'base.html' %} 
{% load static %}
{% load tags %}
{% load container_tags %}


{% block content %}
<div class="breadcrumbs container">
    <a class="red-hover" href="{% url 'home:home' %}">Главная</a>
    <img src="{% static 'images/arrow-right-gray.svg' %}" alt="">
    <a href=" " class="active">О компании</a>
</div>
<div class="about-company container">
    <h1 class="catalog__heading">О компании</h1>
    <div class="about-company__body">
        <img class="about-company__image" src="{% static 'images/about-company-background.png' %}" alt="">
        <div class="about-company__description">
            {{ company_info.description|markdown }}
        </div>
        <div class="home__service-points">
            <div class="home__service-point">
                <div class="home__service-point-icon">
                    <img src="{% static 'images/about-company-key.svg' %}" alt="">
                </div>
                <div class="home__service-point-text">
                    <p class="home__service-point-heading">Индивидуальный подход к каждому клиенту</p>
                    <p class="home__service-point-sub">Компания предлагает уникальные решения, учитывая специфику бизнеса и пожелания клиента. Это позволяет находить оптимальные варианты для каждого заказчика.</p>
                </div>
            </div>
            <div class="home__service-point">
                <div class="home__service-point-icon">
                    <img src="{% static 'images/about-company-bag.svg' %}" alt="">
                </div>
                <div class="home__service-point-text">
                    <p class="home__service-point-heading">Профессионализм и опыт команды</p>
                    <p class="home__service-point-sub">Компания объединяет опытных логистов и использует передовые технологии, что позволяет обеспечивать высокий уровень сервиса и эффективность решений.</p>
                </div>
            </div>
            <div class="home__service-point">
                <div class="home__service-point-icon">
                    <img src="{% static 'images/about-company-checkmark.svg' %}" alt="">
                </div>
                <div class="home__service-point-text">
                    <p class="home__service-point-heading">Гибкость и поддержка клиентов</p>
                    <p class="home__service-point-sub">Менеджеры компании всегда на связи, готовы оперативно ответить на вопросы и помочь в решении любых задач, связанных с логистикой и использованием рефконтейнеров.</p>
                </div>
            </div>
            <div class="home__service-point">
                <div class="home__service-point-icon">
                    <img src="{% static 'images/about-company-well.svg' %}" alt="">
                </div>
                <div class="home__service-point-text">
                    <p class="home__service-point-heading">Удобство и простота в сотрудничестве</p>
                    <p class="home__service-point-sub">Компания стремится сделать логистику максимально понятной и удобной для клиентов, предлагая бесплатную доставку в сотни городов России и детально проработанные решения.</p>
                </div>
            </div>
        </div>
        <div class="about-company__stages">
            <p class="block-heading">Схема работы</p>
            <div class="about-company__stages-body">
                <div class="about-company__stage">
                    <div class="about-company__stage-upper">
                        <span class="about-company__stage-heading">Заявка и консультация</span>
                        <span class="about-company__stage-number">01</span>
                    </div>
                    <div class="about-company__stage-lower">
                        <p>Оперативно доставляем оборудование в РФ и страны ТС. Стоимость доставки уточняйте у наших менеджеров.</p>
                    </div>
                </div>
                <div class="about-company__stage">
                    <div class="about-company__stage-upper">
                        <span class="about-company__stage-heading">Выбор и оформление</span>
                        <span class="about-company__stage-number">02</span>
                    </div>
                    <div class="about-company__stage-lower">
                        <p>Оперативно доставляем оборудование в РФ и страны ТС. Стоимость доставки уточняйте у наших менеджеров.</p>
                    </div>
                </div>
                <div class="about-company__stage">
                    <div class="about-company__stage-upper">
                        <span class="about-company__stage-heading">Доставка в ваш регион</span>
                        <span class="about-company__stage-number">03</span>
                    </div>
                    <div class="about-company__stage-lower">
                        <p>Оперативно доставляем оборудование в РФ и страны ТС. Стоимость доставки уточняйте у наших менеджеров.</p>
                    </div>
                </div>
                <div class="about-company__stage">
                    <div class="about-company__stage-upper">
                        <span class="about-company__stage-heading">Сервис и гарантия</span>
                        <span class="about-company__stage-number">04</span>
                    </div>
                    <div class="about-company__stage-lower">
                        <p>Оперативно доставляем оборудование в РФ и страны ТС. Стоимость доставки уточняйте у наших менеджеров.</p>
                    </div>
                </div>
                <div class="about-company__stage">
                    <div class="about-company__stage-upper">
                        <span class="about-company__stage-heading">Запчасти и поддержка</span>
                        <span class="about-company__stage-number">05</span>
                    </div>
                    <div class="about-company__stage-lower">
                        <p>Оперативно доставляем оборудование в РФ и страны ТС. Стоимость доставки уточняйте у наших менеджеров.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-company__delivery">
            <p class="block-heading">Доставка по России и странам СНГ</p>
            <div class="about-company__delivery-body">
                <div class="about-company__delivery-description">
                    Наша компания предоставляет полный спектр услуг по доставке и продаже контейнеров любого типа в любую точку России и стран СНГ. Мы гарантируем надежность, оперативность и индивидуальный подход к каждому клиенту
                </div>
                <img class="about-company__delivery-map" src="{% static 'images/map.svg' %}" alt="">
            </div>
        </div>
    </div>
    </div>
</div>

<script defer>
    // Вопросы и ответы
document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".about-company__stage-upper").forEach((question) => {
        question.addEventListener("click", () => {
            const parentBlock = question.parentElement;
            const answer = parentBlock.querySelector(".about-company__stage-lower");

            console.log(parentBlock)


            if (parentBlock.classList.contains("active")) {
                console.log(parentBlock.classList)
                console.log('убираем')
                parentBlock.classList.remove("active");
                answer.style.maxHeight = null;
            } else {
                document.querySelectorAll(".home__question-block").forEach((block) => {
                    block.classList.remove("active");
                    block.querySelector(".home__answer").style.maxHeight = null;
                });

                console.log('добавляем')

                // answer.style.height = answer.scrollHeight + 20 + "px"; 
                parentBlock.classList.add("active");
            }
        });
    });
});
</script>

{% include 'home/includes/questions_block.html' %}
{% include 'home/includes/contacts_block.html' %}
{% endblock %}