{% extends 'base.html' %} 
{% load static %}
{% load tags %}
{% load container_tags %}


{% block title %}Страница не найдена - купить, арендовать новый и б/у | ТехноТранс{% endblock %} 
{% block meta_title %}Страница не найдена | ТехноТранс{% endblock %} 


{% block content %}
<div class="not-found container">
    <img src="{% static 'images/not-found.png' %}" alt="Страница не найдена">
    <div>
        <div class="breadcrumbs">
            <a href="{% url 'home:home' %}">Главная</a>
            <img src="{% static 'images/arrow-right-gray.svg' %}" alt="Стрелка">
            <a href=" " class="active">404</a>
        </div>
        <div class="not-found-body">
            <h1 class="catalog__heading">404. Ничего не найдено</h1>
            <div class="not-found-content">
                <p>Страница не существует или была удалена.</p>
                <a class="red-button openModal" href="{% url 'home:home' %}">На главную</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}