{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Local files -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/header.js' %}" defer=""></script>

    <!-- Libriaries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/slick/slick/slick.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/slick/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'js/slick/slick/slick-theme.css' %}">
    <script src="{% static 'js/imask/Imask.min.js' %}"></script>

    <title>ТехноТранс</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__row">
                <div class="header__left-part">
                    <div class="header__logo">
                        <a href="{% url 'home:home' %}" class="header__logo-link">
                            <img src="{% static 'images/logo.svg' %}" alt="Логотип">
                        </a>
                    </div>
                </div>
                <div class="header__nav">
                    <div class="header__menu">
                        <div class="header__menu-link">
                            <a href="{% url 'containers:catalog' %}">Рефконтейнеры</a>
                        </div>
                        <div class="header__menu-link">
                            <a href="">Запчасти</a>
                        </div>
                        <div class="header__menu-link">
                            <a href="">Дизель-генераторы</a>
                        </div>
                        <div class="header__menu-link">
                            <a href="">Обслуживание и ремонт</a>
                        </div>
                        <div class="header__menu-link">
                            <a href="">О компании</a>
                        </div>
                    </div>
                    <div class="header__right-part">
                        <div class="header__phone">
                            <a href="tel:+7 (123) 45-67-89">+7 (123) 453-67-89</a>
                        </div>
                        <div class="header__contacts">
                            <div class="header__contact-link">
                                <img src="{% static 'images/whatsapp.svg' %}" alt="">
                                WhatsApp
                            </div>
                            <div class="header__contact-link">
                                <img src="{% static 'images/telegram.svg' %}" alt="">
                                Telegram
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </header>

    <main>
    {% block content %}
    {% endblock content %}
    </main>
    
    <footer>
        <div class="container">
            <div class="footer-inner">
                <div class="footer-upper">
                    <div class="footer__left">
                        <img src="{% static 'images/logo.svg' %}" alt="">
                        <div class="footer__company-info">
                            <p class="footer__company-info-name">Технотранс</p>
                            <p class="footer__company-info-description">Логистика, продажа и аренда контейнеров для технических рейсов в России и Китае</p>
                        </div>
                    </div>
                    <div class="footer__right">
                        <div class="footer__column">
                            <p>Рефконтейнеры</p>
                            <div class="footer__list">
                                <a href="">Популярные</a>
                                <a href="">Новые</a>
                                <a href="">Б/У</a>
                                <a href="">Аренда</a>
                                <a href="">Спецконтейнеры</a>
                            </div>
                        </div>
                        <div class="footer__column">
                            <p>Запчасти</p>
                            <div class="footer__list">
                                <a href="">Carrier</a>
                                <a href="">Thermo King</a>
                                <a href="">Daikin</a>
                                <a href="">Star Cool</a>
                                <a href="">Расходники</a>
                            </div>
                        </div>
                        <div class="footer__column">
                            <p>О компании</p>
                            <div class="footer__list">
                                <a href="">Обслуживание и ремонт </a>
                                <a href="">Контакты</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="footer-lower">
                    <div class="footer__copyright">
                        <p>Техно Транс © 2025 </p>
                    </div>
                    <div class="header__right-part">
                        <div class="header__phone">
                            <a href="tel:+7 (123) 45-67-89">+7 (123) 453-67-89</a>
                        </div>
                        <div class="header__contacts">
                            <div class="header__contact-link">
                                <img src="{% static 'images/whatsapp.svg' %}" alt="">
                                WhatsApp
                            </div>
                            <div class="header__contact-link">
                                <img src="{% static 'images/telegram.svg' %}" alt="">
                                Telegram
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
</body>

{% block script %}
{% endblock script %}

<script>
    // Слайдеры
$(document).ready((function() {
    $(".home__containers-cards").slick({
        dots: false,
        infinite: true,
        speed: 500,
        slidesToShow: 5,
        adaptiveHeight: false,
        autoplay: false, 
    })
}))

// Вопросы и ответы
document.querySelectorAll(".home__question").forEach((question) => {
    question.addEventListener("click", () => {
        const parentBlock = question.parentElement;
        const answer = parentBlock.querySelector(".home__answer");

        if (parentBlock.classList.contains("active")) {
            parentBlock.classList.remove("active");
            answer.style.maxHeight = null;
        } else {
            document.querySelectorAll(".home__question-block").forEach((block) => {
                block.classList.remove("active");
                block.querySelector(".home__answer").style.maxHeight = null;
            });

            answer.style.height = answer.scrollHeight + 20 + "px"; 
            parentBlock.classList.add("active");
        }
    });
});
</script>

</html>