{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Local files -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/slick/slick/slick.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/slick/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'js/slick/slick/slick-theme.css' %}">
    <script src="{% static 'js/imask/Imask.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Logo -->
    <link rel=icon type=image/png sizes=16x16 href="{% static 'images/logo.svg' %}">

    
    <title>{% block title %}{% endblock title %}</title>
    <meta name=description content="{% block description %}{% endblock %}">
    <meta property=og:title content="{% block meta_title %}{% endblock %}">
    <meta property=og:description content="{% block meta_description %}{% endblock %}">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    
        ym(100411748, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/100411748" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    
    
    {% block head %}
    {% endblock %}
    
    <!-- Jivo -->
    <script src="//code.jivo.ru/widget/ebpBPPYJ4H" async></script>
</head>
<body>
    <div id="modal" class="modal">
        <div class="modal-content">
            <div class="home__questions-right">
                <form id="modalFeedbackForm" class="home__service-form" action="">
                    {% csrf_token %}
                    <div class="home__service-form-heading">
                        <span>Свяжитесь с нами</span>
                        <img id="closeModal" src="{% static 'images/cross-white.svg' %}" alt="Закрыть">
                    </div>
                    <div class="home__service-form-inputs">
                        {{ feedback_form.name }}
                        {{ feedback_form.phone }}
                        {{ feedback_form.message }}
                        <div class="form__checkbox">
                            <div class=form__checkbox-wrap>
                                <input checked type=checkbox id=consent name=consent required>
                            </div>
                            <div>
                                <label for=consent class=form__checkbox-label>
                                    Согласен с обработкой персональных данных
                                </label>
                            </div>
                        </div>
                        <button class="red-button">Отправить</button>
                    </div>  
                </form>
            </div>
        </div>
    </div>
    
    <div id="modalSuccess" class="modalSuccess">
        <div class="modal-success-content">
           <div class="home__questions-right">
            <div class="home__service-form">
                <div class="home__service-form-heading">
                    <span>Успешно отправлено</span>
                    <img class="closeSuccessModal" src="{% static 'images/cross-white.svg' %}" alt="Закрыть">
                </div>
                
                    <p>Вскоре наши менеджеры свяжутся с вами</p>
                <button class="transparent-button closeSuccessModal">Закрыть</button>
            </div>
           </div>
        </div>
    </div>


    <header class="header">
        <div class="container">
            <div class="header__row">
                <div class="header__mobile-menu-heading">
                    Меню
                </div>
                <div class="header__left-part">
                    <div class="header__logo">
                        <a href="{% url 'home:home' %}" class="header__logo-link">
                            <img src="{% static 'images/logo.svg' %}" alt="Логотип">
                        </a>
                    </div>
                </div>
                <div class="header__hamburger-wrapper">
                    <div class="header__phone-adaptive">
                        <div class="header__phone">
                            <a target="_blank" href="tel:{{ company_info.phone }}">{{ company_info.phone }}</a>
                        </div>
                        <div class="header__contacts">
                            <div class="header__contact-link">
                                <img src="{% static 'images/whatsapp.svg' %}" alt="Логотип WhatsApp">
                                <a target="_blank" href="{{ company_info.whatsapp_link }}">WhatsApp</a>
                            </div>
                            <div class="header__contact-link">
                                <img src="{% static 'images/telegram.svg' %}" alt="Логотип Telegram">
                                <a target="_blank" href="{{ company_info.telegram_link }}">Telegram</a>
                            </div>
                        </div>
                    </div>
                    <button class="header__hamburger" aria-label="Toggle menu">
                        <div class="header__hamburger--menu-container">
                            <img class="header__hamburger--menu" src="{% static 'images/burger.svg' %}" alt="Меню">
                            <img class="header__hamburger--close" src="{% static 'images/close.svg' %}" alt="Закрыть">
                        </div>
                    </button>
                </div>
                <div class="header__nav">
                    <div class="header__menu">
                        <div class="header__menu-link header__menu-link--dropdown nav__dropdown">
                            <a class="red-hover" href="{% url 'containers:catalog' %}">Рефконтейнеры</a>
                            <div class="nav__dropdown-content-wrapper">
                                <div class="nav__dropdown-content">
                                    {% for category in categories %}
                                        {% if not 'Аренда' in category.full_name %}
                                            <a href="{% url 'containers:catalog' %}?category={{ category.pk }}" class="nav__link red-hover">
                                                {% if category.full_name %}
                                                    {{ category.full_name }}
                                                {% else %}
                                                    {{ category.title }}
                                                {% endif %}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                    <a class="nav__link red-hover" href="{% url 'containers:rent' %}">{{ rent_category.full_name }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="header__menu-link header__menu-link--dropdown nav__dropdown">
                            <a class="red-hover" href="{% url 'generators:catalog' %}">Дизель-генераторы</a>
                            <div class="nav__dropdown-content-wrapper">
                                <div class="nav__dropdown-content">
                                    <a href="{% url 'generators:catalog' %}" class="nav__link red-hover">Продажа генераторов</a>
                                    <a href="{% url 'generators:rent' %}" class="nav__link red-hover">Аренда генераторов</a>
                                </div>
                            </div>
                        </div>
                        <div class="header__menu-link">
                            <a class="red-hover" href="{% url 'contacts:contacts' %}">Контакты</a>
                        </div>
                        <div class="header__menu-link">
                            <a class="red-hover" href="{% url 'contacts:about_company' %}">О компании</a>
                        </div>
                        <div class="header__menu-link">
                            <a class="red-hover" href="{% url 'contacts:documentation' %}">Документация</a>
                        </div>
                    </div>
                    <div class="header__right-part">
                        <div class="header__phone">
                            <img src="{% static 'images/call-icon.svg' %}" alt="">
                            <a target="_blank" href="tel:{{ company_info.phone }}">{{ company_info.phone }}</a>
                        </div>
                        <div class="header__contacts">
                            <div class="header__contact-link">
                                <img src="{% static 'images/whatsapp.svg' %}" alt="Логотип WhatsApp">
                                <a target="_blank" href="{{ company_info.whatsapp_link }}">WhatsApp</a>
                            </div>
                            <div class="header__contact-link">
                                <img src="{% static 'images/telegram.svg' %}" alt="Логотип Telegram">
                                <a target="_blank" href="{{ company_info.telegram_link }}">Telegram</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </header>

    <main>
    {% block content %}
    {% endblock content %}
    </main>
    
    <footer>
        <div class="container">
            <div class="footer-inner">
                <div class="footer-upper">
                    <div class="footer__left">
                        <a href="{% url 'home:home' %}" class="footer__logo-link">
                            <img src="{% static 'images/logo.svg' %}" alt="Логотип Техно Транс">
                        </a>
                        <div class="footer__company-info">
                            <p class="footer__company-info-description">Логистика, продажа и аренда контейнеров для технических рейсов в России и Китае</p>
                        </div>
                    </div>
                    <div class="footer__right">
                        <div class="footer__column">
                            <a href="{% url 'containers:catalog' %}" class="red-hover footer__column-subtitle">Рефконтейнеры</a>
                            <div class="footer__list">
                                {% for category in categories %}
                                    <a href="{% url 'containers:catalog' %}?category={{ category.pk }}" class="footer__column-item red-hover only-desktop">{{ category.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="footer__column">
                            <a href="{% url 'contacts:about_company' %}" class="red-hover footer__column-subtitle">О компании</a>
                            <div class="footer__list">
                                <a class="footer__column-item red-hover only-desktop" href="{% url 'contacts:documentation' %}">Документация</a>
                                <a class="footer__column-item red-hover only-desktop" href="{% url 'containers:rent' %}">Аренда контейнеров</a>
                                <a class="footer__column-item red-hover only-desktop" href="{% url 'contacts:privacy_policy' %}">Политика конфиденциальности</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="footer-lower">
                    <div class="footer__copyright">
                        <p>Техно Транс © 2025 </p>
                    </div>
                    <div class="header__right-part">
                        <div class="header__phone">
                            <a href="tel:{{ company_info.phone }}">{{ company_info.phone }}</a>
                        </div>
                        <div class="header__contacts">
                            <div class="header__contact-link">
                                <img src="{% static 'images/whatsapp.svg' %}" alt="Логотип WhatsApp">
                                <a href="{{ company_info.whatsapp_link }}" target="_blank">WhatsApp</a>
                            </div>
                            <div class="header__contact-link">
                                <img src="{% static 'images/telegram.svg' %}" alt="Логотип Telegram">
                                <a href="{{ company_info.telegram_link }}" target="_blank">Telegram</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
</body>

{% block script %}
{% endblock script %}

<!-- Модальное окно -->
<script defer>
    document.addEventListener('DOMContentLoaded', () => {

        const modal = document.getElementById('modal');
        const modalSuccess = document.getElementById('modalSuccess');
        const closeModalButton = document.getElementById('closeModal');
        const closeSuccessModalButtons = document.querySelectorAll('.closeSuccessModal')
        const feedbackForm = document.getElementById('modalFeedbackForm');
        const formSection = document.getElementById('modal');
        const successSection = document.getElementById('modalSuccess');

        const messageField = document.getElementById("id_message"); 

        const openModalButtons = document.querySelectorAll('.openModal');


        openModalButtons.forEach((button) => {
            button.addEventListener('click', () => {
                modal.style.display = 'flex';
            });
        });

        closeModalButton.addEventListener('click', () => {
            modal.style.display = 'none';
            messageField.value = "";
        });
        closeSuccessModalButtons.forEach((button) => {
            button.addEventListener('click', () => {
                modalSuccess.style.display = 'none';
                messageField.value = "";
            });
        }) 

        window.addEventListener('click', (e) => {
            if (e.target === modal) {
                modal.style.display = 'none';
                messageField.value = "";
            }
        });

        feedbackForm.addEventListener('submit', async (e) => {
            e.preventDefault();
            formSection.style.display = 'none';
            successSection.style.display = 'flex';

            let q = new FormData(feedbackForm),
                o = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
            feedbackForm.reset();

            try {
                let s = await fetch(`/api/save-request/`, {
                    method: "POST",
                    body: q,
                    headers: {
                        "X-CSRFToken": o
                    }
                });
                s.status
            } catch (n) {
                console.error("Ошибка запроса:", n)
            }
        });

        // Маска
        document.querySelectorAll('input[type="tel"]').forEach(input => {
            let phoneMask = IMask(input, { mask: "+{7} (000) 000-00-00" });

            function validatePhoneNumber() {
                let t = input.value.replace(/\D/g, "");
                return t.length < 11 ? (input.setCustomValidity("Необходимо минимум 11 цифр"), !1) : (input.setCustomValidity(""), !0);
            }

            input.addEventListener("input", validatePhoneNumber);
        });
    });

</script>

<!-- Меню-бургер -->
<script defer>
    document.addEventListener("DOMContentLoaded", function () {
        let scrollPosition = 0;

        document.querySelector(".header__hamburger").addEventListener("click", function () {
            this.classList.toggle("active");
            document.querySelector('.header__mobile-menu-heading').classList.toggle("active");
            const nav = document.querySelector(".header__nav");
            const body = document.querySelector("body");

            nav.classList.toggle("active");

            if (nav.classList.contains("active")) {
                // Сохраняем текущую позицию и отключаем прокрутку
                scrollPosition = window.scrollY;
                body.classList.add("scroll-disabled");
                body.style.top = `-${scrollPosition}px`;
            } else {
                // Убираем блокировку и восстанавливаем позицию
                body.classList.remove("scroll-disabled");
                body.style.top = "";
                window.scrollTo(0, scrollPosition);
            }
        });
    });
</script>

</html>