{% load static %}
<div class="home__contacts container">
    <div class="block-heading">
        Контакты
    </div>
    <div class="home__contacts-body">
        <div class="home__contacts-left">
            <div class="home__contacts-data">
                <div class="home__contact-data">
                    <p class="home__contact-data-label">Телефон: </p>
                    <a href="tel:{{ company_info.phone }}" class="home__contact-data-heading">{{ company_info.phone }}</a>
                </div>
                <div class="home__contact-data">
                    <p class="home__contact-data-label">Почта: </p>
                    <a href="mailto:{{ company_info.email }}" class="home__contact-data-heading color-red">{{ company_info.email }}</a>
                </div>
                <div class="home__contacts-social-links">
                    <div class="home__contacts-social-link">
                        <img src="{% static 'images/whatsapp.svg' %}" alt="Логотип WhatsApp">
                        <a href="{{ company_info.whatsapp_link }}" target="_blank">WhatsApp</a>
                    </div>
                    <div class="home__contacts-social-link">
                        <img src="{% static 'images/telegram.svg' %}" alt="Логотип Telegram">
                        <a href="{{ company_info.telegram_link }}" target="_blank">Telegram</a>
                    </div>
                </div>
                <div>
                    <button class="openModal red-button">Заказать звонок</button>
                </div>
            </div>
        </div>
        <div class="home__contacts-right">
            <img src="{% static 'images/contacts-image.png' %}" alt="Контакты">
        </div>
    </div>
</div>