{% load static %}
<div class="home__contacts container">
    <div class="block-heading">
        Контакты
    </div>
    <div class="home__contacts-body">
        <div class="home__contacts-left">
            <div class="home__contacts-data">
                <div class="home__contact-data">
                    <p class="home__contact-data-label">Телефон: </p>
                    <a href="tel:89137839236" class="home__contact-data-heading">+7 (925) 804-79-95</a>
                </div>
                <div class="home__contact-data">
                    <p class="home__contact-data-label">Почта: </p>
                    <a href="mailto:sales@ttrans.pro" class="home__contact-data-heading color-red">sales@ttrans.pro</a>
                </div>
                <div class="home__contacts-social-links">
                    <div class="home__contacts-social-link">
                        <img src="{% static 'images/whatsapp.svg' %}" alt="">
                        <a href="https://wa.me/79089939287">WhatsApp</a>
                    </div>
                    <div class="home__contacts-social-link">
                        <img src="{% static 'images/telegram.svg' %}" alt="">
                        <a href="https://wa.me/79089939287">Telegram</a>
                    </div>
                </div>
                <div>
                    <button class="openModal red-button">Заказать звонок</button>
                </div>
            </div>
        </div>
        <div class="home__contacts-right">
            <img src="{% static 'images/contacts-image.png' %}" alt="">
        </div>
    </div>
</div>