{% load static %}
<div class="home__questions">
    <div class="container">
        <div class="home__questions-inner">
            <div class="block-heading">
                Вопросы и ответы
            </div>
            <div class="home__questions-body">
                <div class="home__questions-left">

                    <div class="home__question-block">
                        <div class="home__question">
                            <p>Какие рефконтейнеры вы предлагаете?</p>
                            <img class="icon" src="{% static 'images/red-plus.svg' %}">
                        </div>
                        <div class="home__answer">
                            Мы организуем доставку контейнеров по всей России. Время и стоимость зависят от региона.
                        </div>
                    </div>
                    <div class="home__question-block">
                        <div class="home__question">
                            <p>Можно ли купить контейнер в кредит/лизинг/рассрочку?</p>
                            <img class="icon" src="{% static 'images/red-plus.svg' %}">
                        </div>
                        <div class="home__answer">
                            Мы организуем доставку контейнеров по всей России. Время и стоимость зависят от региона.
                        </div>
                    </div>
                    <div class="home__question-block">
                        <div class="home__question">
                            <p>Как происходит доставка рефконтейнеров?</p>
                            <img class="icon" src="{% static 'images/red-plus.svg' %}">
                        </div>
                        <div class="home__answer">
                            Мы организуем доставку контейнеров по всей России. Время и стоимость зависят от региона.
                        </div>
                    </div>
                    <div class="home__question-block">
                        <div class="home__question">
                            <p>Предоставляете ли вы гарантию на контейнеры?</p>
                            <img class="icon" src="{% static 'images/red-plus.svg' %}">
                        </div>
                        <div class="home__answer">
                            Мы организуем доставку контейнеров по всей России. Время и стоимость зависят от региона.
                        </div>
                    </div>
                    <div class="home__question-block">
                        <div class="home__question">
                            <p>Какие документы необходимы для аренды контейнера?</p>
                            <img class="icon" src="{% static 'images/red-plus.svg' %}">
                        </div>
                        <div class="home__answer">
                            Мы организуем доставку контейнеров по всей России. Время и стоимость зависят от региона.
                        </div>
                    </div>
                    
                </div>
                <div class="home__questions-right">
                    <form class="home__service-form" action="">
                        <p class="home__service-form-heading">Остались вопросы? Свяжитесь с нами</p>
                        <div class="home__service-form-inputs">
                            <input type="text" placeholder="Имя">
                            <input type="tel" placeholder="Телефон">
                            <textarea placeholder="Сообщение" rows="5"></textarea>
                            <div class="form__checkbox">
                                <div class=form__checkbox-wrap>
                                    <input type=checkbox id=consent name=consent required>
                                </div>
                                <div>
                                    <label for=consent class=form__checkbox-label>
                                        Согласен с обработкой персональных данных
                                    </label>
                                </div>
                            </div>
                            <button class="red-button">Отправить</button>
                        </div>  
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Вопросы и ответы
document.querySelectorAll(".home__question").forEach((question) => {
    question.addEventListener("click", () => {
        const parentBlock = question.parentElement;
        const answer = parentBlock.querySelector(".home__answer");

        if (parentBlock.classList.contains("active")) {
            parentBlock.classList.remove("active");
            answer.style.maxHeight = null;
        } else {
            document.querySelectorAll(".home__question-block").forEach((block) => {
                block.classList.remove("active");
                block.querySelector(".home__answer").style.maxHeight = null;
            });

            answer.style.height = answer.scrollHeight + 20 + "px"; 
            parentBlock.classList.add("active");
        }
    });
});
</script>