{% load static %}
<div class="home__questions">
    <div class="container">
        <div class="home__questions-inner">
            <div class="block-heading">
                Вопросы и ответы
            </div>
            <div class="home__questions-body">
                <div class="home__questions-left">
                    {% for question in popular_questions %}
                        <div class="home__question-block">
                            <div class="home__question">
                                <p>{{ question.question }}</p>
                                <img class="icon" src="{% static 'images/red-plus.svg' %}" alt="Плюс">
                            </div>
                            <div class="home__answer">
                                {{ question.answer }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="home__questions-right">
                    <form id="questionsBlockForm" class="home__service-form" action="">
                        {% csrf_token %}
                        <p class="home__service-form-heading">Остались вопросы? Свяжитесь с нами</p>
                        <div class="home__service-form-inputs">
                            {{ feedback_form.name }}
                            {{ feedback_form.phone }}
                            {{ feedback_form.message }}
                            <div class="form__checkbox">
                                <div class=form__checkbox-wrap>
                                    <input checked type=checkbox id=questionsCheckbox name=consent required>
                                </div>
                                <div>
                                    <label for=questionsCheckbox class=form__checkbox-label>
                                        Согласен с обработкой персональных данных
                                    </label>
                                </div>
                            </div>
                            <button class="red-button">Отправить</button>
                        </div>  
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Вопросы и ответы
document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".home__question").forEach((question) => {
        question.addEventListener("click", () => {
            const parentBlock = question.parentElement;
            const answer = parentBlock.querySelector(".home__answer");

            console.log(parentBlock)


            if (parentBlock.classList.contains("active")) {
                console.log(parentBlock.classList)
                console.log('убираем')
                parentBlock.classList.remove("active");
                answer.style.maxHeight = null;
            } else {
                document.querySelectorAll(".home__question-block").forEach((block) => {
                    block.classList.remove("active");
                    block.querySelector(".home__answer").style.maxHeight = null;
                });

                console.log('добавляем')

                answer.style.height = answer.scrollHeight + 20 + "px"; 
                parentBlock.classList.add("active");
            }
        });
    });

    // Форма ОС 
    const feedbackForm = document.getElementById("questionsBlockForm"); 
    if (!feedbackForm) {
        return;
    }
    feedbackForm.addEventListener("submit", async (event) => {
        event.preventDefault();
        const successSection = document.getElementById('modalSuccess');
        successSection.style.display = 'flex'; 

        let data = new FormData(feedbackForm);
        let csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
        
        feedbackForm.reset();

        try {
            let s = await fetch(`/api/save-request/`, {
            method: "POST",
            body: data,
            headers: {
                "X-CSRFToken": csrfToken
            }
        });
            s.status
        } catch (n) {
            console.error("Ошибка запроса:", n)
        }
    });
});
</script>