{% extends 'base.html' %} 
{% load static %}
{% load tags %}
{% load container_tags %}


{% block title %}Арендовать контейнеры и рефконтейнеры | Технотранс{% endblock %} 
{% block meta_title %}Арендовать контейнеры и рефконтейнеры | Технотранс{% endblock %} 
{% block description %}Аренда рефконтейнеров и контейнеров на 20, 30 футов. Доставка по всей России. При необходимости предоставляем в аренду дизель-генераторы. Стоимость аренды на сайте ТехноТранс.{% endblock %} 
{% block meta_description %}Аренда рефконтейнеров и контейнеров на 20, 30 футов. Доставка по всей России. При необходимости предоставляем в аренду дизель-генераторы. Стоимость аренды на сайте ТехноТранс.{% endblock %} 


{% block content %}
<div class="breadcrumbs container">
    <a class="red-hover" href="{% url 'home:home' %}">Главная</a>
    <img src="{% static 'images/arrow-right-gray.svg' %}" alt="Стрелка">
    <a class="red-hover" href="{% url 'containers:catalog' %}">Рефконтейнеры</a>
    <img src="{% static 'images/arrow-right-gray.svg' %}" alt="Стрелка">
    <a href=" " class="active">Аренда рефконтейнеров</a>
</div>
<div class="about-company container rent">
    <h1 class="catalog__heading">Аренда рефконтейнеров</h1>
    <div class="catalog-body">
        <div class="home__questions-body">
            <div class="about-company__description">
                <p>В ряде случаев аренда рефрижераторных контейнеров может быть предпочтительней покупки:</p>
                
                <div class="extended-point-container">
                    <div class="main__checkbox">
                        <div class="main__checkbox-wrap">
                            <input checked type="checkbox" id="efficiency" name="efficiency" required>
                        </div>
                        <div>
                            <label for="efficiency" class="main__checkbox-label">
                                Экономическая эффективность
                            </label>
                        </div>
                    </div>
                    <ul>
                        <li>Отсутствие крупных капиталовложений (в отличие от покупки).</li>
                        <li>Оплата только за период использования (4–6 месяцев), что оптимально для сезонного бизнеса.</li>
                    </ul>
                </div>
            
                <div class="extended-point-container">
                    <div class="main__checkbox">
                        <div class="main__checkbox-wrap">
                            <input checked type="checkbox" id="flexibility" name="flexibility" required>
                        </div>
                        <div>
                            <label for="flexibility" class="main__checkbox-label">
                                Гибкость управления ресурсами
                            </label>
                        </div>
                    </div>
                    <ul>
                        <li>Возможность оперативно менять количество и объем контейнеров в зависимости от спроса.</li>
                        <li>Легкий отказ от аренды при снижении потребности.</li>
                    </ul>
                </div>
            
                <div class="extended-point-container">
                    <div class="main__checkbox">
                        <div class="main__checkbox-wrap">
                            <input checked type="checkbox" id="location" name="location" required>
                        </div>
                        <div>
                            <label for="location" class="main__checkbox-label">
                                Удобство локации
                            </label>
                        </div>
                    </div>
                    <ul>
                        <li>Размещение на собственной территории предприятия или логистических площадках.</li>
                        <li>Сокращение времени и затрат на транспортировку товаров.</li>
                    </ul>
                </div>
            
                <div class="extended-point-container">
                    <div class="main__checkbox">
                        <div class="main__checkbox-wrap">
                            <input checked type="checkbox" id="technology" name="technology" required>
                        </div>
                        <div>
                            <label for="technology" class="main__checkbox-label">
                                Современные технологии
                            </label>
                        </div>
                    </div>
                    <ul>
                        <li>Точный контроль температуры и влажности для сохранности продукции.</li>
                        <li>Энергоэффективные системы с онлайн-мониторингом параметров.</li>
                    </ul>
                </div>
            
                <div class="extended-point-container">
                    <div class="main__checkbox">
                        <div class="main__checkbox-wrap">
                            <input checked type="checkbox" id="risks" name="risks" required>
                        </div>
                        <div>
                            <label for="risks" class="main__checkbox-label">
                                Снижение рисков
                            </label>
                        </div>
                    </div>
                    <ul>
                        <li>Техническое обслуживание обеспечивается арендодателем.</li>
                        <li>Отсутствие расходов на ремонт и хранение запчастей.</li>
                    </ul>
                </div>
            
                <div class="extended-point-container">
                    <div class="main__checkbox">
                        <div class="main__checkbox-wrap">
                            <input checked type="checkbox" id="alternative" name="alternative" required>
                        </div>
                        <div>
                            <label for="alternative" class="main__checkbox-label">
                                Альтернатива устаревшим складам
                            </label>
                        </div>
                    </div>
                    <ul>
                        <li>Преимущество перед стационарными холодильниками с изношенным оборудованием.</li>
                    </ul>
                </div>
            </div>
                <div class="home__questions-right">
                    <!-- <div class="home__parts-points">
                        <div class="main__checkbox">
                            <div class=main__checkbox-wrap>
                                <input checked type=checkbox id=consent name=consent required>
                            </div>
                            <div>
                                <label for=consent class=main__checkbox-label>
                                    Всегда в наличии востребованные оригинальные запчасти
                                </label>
                            </div>
                        </div>
                        <div class="main__checkbox">
                            <div class=main__checkbox-wrap>
                                <input checked type=checkbox id=consent name=consent required>
                            </div>
                            <div>
                                <label for=consent class=main__checkbox-label>
                                    Быстрая доставка от 2-3 дней.
                                </label>
                            </div>
                        </div>
                        <div class="main__checkbox">
                            <div class=main__checkbox-wrap>
                                <input checked type=checkbox id=consent name=consent required>
                            </div>
                            <div>
                                <label for=consent class=main__checkbox-label>
                                    Обеспечение всеми необходимыми запчастями и расходными материалами.
                                </label>
                            </div>
                        </div>
                        <div class="main__checkbox">
                            <div class=main__checkbox-wrap>
                                <input checked type=checkbox id=consent name=consent required>
                            </div>
                            <div>
                                <label for=consent class=main__checkbox-label>
                                    Гарантия 30 дней на все запчасти при обнаружении заводского брака.
                                </label>
                            </div>
                        </div>
                    </div> -->
                    <p>Заполните, пожалуйста, форму обратной связи и наши специалисты с радостью подберут для вас эффективное решение.</p>
                    <button class="red-button openModal">Связаться с нами</button>
                </div>
            </div>
    </div>
</div>
{% include 'home/includes/questions_block.html' %}
{% include 'home/includes/contacts_block.html' %}
{% endblock %}